<div class="container">
  <div class="container__extend">
    <ul class="nav nav-tabs scrollbar scrollbar--to-active" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link label label--headline active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          Home
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link label label--headline"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Profile
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link label label--headline"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#contact"
          type="button"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
        >
          Contact
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link label label--headline"
          id="settings-tab"
          data-bs-toggle="tab"
          data-bs-target="#settings"
          type="button"
          role="tab"
          aria-controls="settings"
          aria-selected="false"
        >
          Settings
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link label label--headline"
          id="notifications-tab"
          data-bs-toggle="tab"
          data-bs-target="#notifications"
          type="button"
          role="tab"
          aria-controls="notifications"
          aria-selected="false"
        >
          Notifications
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link label label--headline"
          id="logout-tab"
          data-bs-toggle="tab"
          data-bs-target="#logout"
          type="button"
          role="tab"
          aria-controls="logout"
          aria-selected="false"
        >
          Logout
        </button>
      </li>
    </ul>
    <section class="slider slider--tabs swiper">
      <div class="slider__wrapper swiper-wrapper">
        <div data-slide="0" class="col-10 slider__slide slider__slide--teal slide slider__slide--active swiper-slide">
          <div class="slide__wrapper">
            <div class="row slide__wrapper-inner">
              <div class="slide__content col-12 col-md-4">
                <h2 class="headline headline--h2">RRA als Stilelement im Industrial Style</h2>
                <p class="text">
                  Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
                  Lüftungsanlagen als Designelement dienen.
                </p>
                <a class="btn btn--secondary" href="javascript:void(0)">Mehr erfahren</a>
              </div>

              <div class="slide__meta col-12 col-md-7 ms-auto">
                <div class="slide__image-wrapper">
                  <img class="slide__image" src="/src/assets/images/pictures/kampmann-industrial-design.png" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-slide="1" class="col-10 slider__slide slider__slide--cyan slide swiper-slide">
          <div class="slide__wrapper">
            <div class="row slide__wrapper-inner">
              <div class="slide__meta col-12 col-md-6 mr-auto">
                <div class="slide__image-wrapper">
                  <img class="slide__image" src="/src/assets/images/pictures/kampmann-industrial-design.png" />
                </div>
              </div>

              <div class="slide__content col-12 col-md-5">
                <h2 class="headline headline--h2">RRA als Stilelement im Industrial Style</h2>
                <p class="text">
                  Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
                  Lüftungsanlagen als Designelement dienen.
                </p>
                <p class="text">
                  Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
                  Lüftungsanlagen als Designelement dienen.
                </p>
                <p class="text">
                  Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
                  Lüftungsanlagen als Designelement dienen.
                </p>
                <a class="btn btn--secondary" href="javascript:void(0)">Mehr erfahren</a>
              </div>
            </div>
          </div>
        </div>

        <div data-slide="2" class="col-10 slider__slide slider__slide--green slide swiper-slide">
          <div class="slide__wrapper">
            <div class="row slide__wrapper-inner">
              <div class="slide__content col-12 col-md-5">
                <h2 class="headline headline--h2">RRA als Stilelement im Industrial Style</h2>
                <p class="text">
                  Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
                  Lüftungsanlagen als Designelement dienen.
                </p>
                <a class="btn btn--secondary" href="javascript:void(0)">Mehr erfahren</a>
              </div>

              <div class="slide__meta col-12 col-md-7 ms-auto">
                <div class="slide__image-wrapper">
                  <img class="slide__image" src="/src/assets/images/pictures/kampmann-industrial-design.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slider__dots navigation__dots navigation__dots container">
        <div class="slider__dots-wrapper navigation__dots-wrapper d-flex swiper-pagination"></div>
      </div>
    </section>
  </div>
</div>

<script type="module" src="/dist/js/kampmann.umd.min.js"></script>
