<section class="slider slider--teaser">
  <div class="slider__wrapper">
    <div data-slide="0" class="slider__slide slider__slide--teal slide slider__slide--active">
      <div class="container slide__wrapper">
        <div class="row slide__wrapper-inner">
          <div class="slide__content col-12 col-md-4">
            <h2 class="headline headline--h2">RRA als Stilelement im Industrial Style</h2>
            <p class="text">Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die Lüftungsanlagen als Designelement dienen.</p>
            <a class="btn btn--secondary" href="javascript:void(0)">Mehr erfahren</a>
          </div>

          <div class="slide__meta col-12 col-md-7 ml-auto">
            <div class="slide__image-wrapper">
              <img class="slide__image" src="/styleguide/src/assets/images/pictures/kampmann-industrial-design.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-slide="1" class="slider__slide slider__slide--cyan slide">
      <div class="container slide__wrapper">
        <div class="row slide__wrapper-inner">
          <div class="slide__meta col-12 col-md-6 mr-auto">
            <div class="slide__image-wrapper">
              <img class="slide__image" src="/styleguide/src/assets/images/pictures/kampmann-industrial-design.png"/>
            </div>
          </div>

          <div class="slide__content col-12 col-md-5">
            <h2 class="headline headline--h2">RRA als Stilelement im Industrial Style</h2>
            <p class="text">Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die Lüftungsanlagen als Designelement dienen.</p>
            <p class="text">Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die Lüftungsanlagen als Designelement dienen.</p>
            <p class="text">Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die Lüftungsanlagen als Designelement dienen.</p>
            <a class="btn btn--secondary" href="javascript:void(0)">Mehr erfahren</a>
          </div>
        </div>
      </div>
    </div>

    <div data-slide="2" class="slider__slide slider__slide--green slide">
      <div class="container slide__wrapper">
        <div class="row slide__wrapper-inner">
          <div class="slide__content col-12 col-md-5">
            <h2 class="headline headline--h2">RRA als Stilelement im Industrial Style</h2>
            <p class="text">Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die Lüftungsanlagen als Designelement dienen.</p>
            <a class="btn btn--secondary" href="javascript:void(0)">Mehr erfahren</a>
          </div>

          <div class="slide__meta col-12 col-md-7 ml-auto">
            <div class="slide__image-wrapper">
              <img class="slide__image" src="/styleguide/src/assets/images/pictures/kampmann-industrial-design.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider__dots">
    <div class="slider__dots-wrapper container d-flex">
      <div data-slide='0' class="slider__dot slider__dot--active"></div>
      <div data-slide='1' class="slider__dot"></div>
      <div data-slide='2' class="slider__dot"></div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    const sliders = document.querySelectorAll('.slider');

    const adjustHeight = (slider)=>{
      const slideFirst = slider.querySelector(`.slider__slide--active`)
      slider.style.height = slideFirst.offsetHeight + 'px'
    }

    const slide = (slider, slidesCount)=>{
      const dotActive = slider.querySelector('.slider__dot--active')
      const slideActive = parseInt(dotActive.dataset.slide)
      const slideNext = slideActive==slidesCount ? 0 : slideActive + 1
      const dotNext = slider.querySelector(`.slider__dot[data-slide='${slideNext}']`)

      dotNext.click()
    }

    if(sliders){
      sliders.forEach((slider, index)=>{
        window.addEventListener('load',()=>{
          adjustHeight(slider)
        })

        window.addEventListener('resize', ()=>{
          adjustHeight(slider)
        })

        const slideContent = slider.querySelector('.slide__content')
        const dotsWrapper = slider.querySelector('.slider__dots')
        const dots = slider.querySelectorAll('.slider__dot')
        const slidesCount = dots.length - 1;

        //Autoplay
        var wait = 
          setInterval(()=>{
            slide(slider, slidesCount)
          },5000)

        //PauseOnHover
        const elemsToPauseOnHover = [slideContent, dotsWrapper]
        elemsToPauseOnHover.forEach((el, index)=>{
          el.addEventListener('mouseover',(e)=>{
            clearInterval(wait)
          })

          el.addEventListener('mouseout',(e)=>{
            wait = 
              setInterval(()=>{
                slide(slider, slidesCount)
              },5000)
          })
        })

        //Navigation Click
        slider.addEventListener('click',(e)=>{
          const dot = e.target.closest('.slider__dot')

          if(dot && !dot.classList.contains('slider__dot--active')){
            slider.dispatchEvent(new CustomEvent('slidechange', {
              detail:{
                slideTarget: parseInt(dot.dataset.slide)
              }
            }));
          }
        })

        slider.addEventListener('slidechange',(e)=>{
          //Navigation Change
          const dotPrevActive = slider.querySelector('.slider__dot--active')
          dotPrevActive.classList.remove('slider__dot--active')

          const dotActive = slider.querySelector(`.slider__dot[data-slide="${e.detail.slideTarget}"]`)
          dotActive.classList.add('slider__dot--active')

          //Slide Change
          const slidePrevActive = slider.querySelector('.slider__slide--active')
          slidePrevActive.classList.remove('slider__slide--active')

          const slideActive = slider.querySelector(`.slider__slide[data-slide="${e.detail.slideTarget}"]`)
          slideActive.classList.add('slider__slide--active')

          //Slider Growth
          slider.style.height = slideActive.offsetHeight + 'px'
          //Slider Position
          slider.style.setProperty('--active-slide', e.detail.slideTarget);
        })
      })
    }
  });
</script>