<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Teaser | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <section class="slider slider--teaser swiper">
  <div class="slider__wrapper swiper-wrapper">
    <div data-slide="0" class="slider__slide slider__slide--teal slide slider__slide--active swiper-slide">
      <div class="container slide__wrapper">
        <div class="row slide__wrapper-inner">
          <div class="slide__content col-12 col-md-4">
            <h2 class="headline headline--h2">RRA als Stilelement im Industrial Style</h2>
            <p class="text">
              Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
              Lüftungsanlagen als Designelement dienen.
            </p>
            <a class="btn btn--secondary" href="javascript:void(0)">Mehr erfahren</a>
          </div>

          <div class="slide__meta col-12 col-md-7 ms-auto">
            <div class="slide__image-wrapper">
              <img class="slide__image" src="/src/assets/images/pictures/kampmann-industrial-design.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-slide="1" class="slider__slide slider__slide--cyan slide swiper-slide">
      <div class="container slide__wrapper">
        <div class="row slide__wrapper-inner">
          <div class="slide__meta col-12 col-md-6 mr-auto">
            <div class="slide__image-wrapper">
              <img class="slide__image" src="/src/assets/images/pictures/kampmann-industrial-design.png" />
            </div>
          </div>

          <div class="slide__content col-12 col-md-5">
            <h2 class="headline headline--h2">RRA als Stilelement im Industrial Style</h2>
            <p class="text">
              Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
              Lüftungsanlagen als Designelement dienen.
            </p>
            <p class="text">
              Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
              Lüftungsanlagen als Designelement dienen.
            </p>
            <p class="text">
              Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
              Lüftungsanlagen als Designelement dienen.
            </p>
            <a class="btn btn--secondary" href="javascript:void(0)">Mehr erfahren</a>
          </div>
        </div>
      </div>
    </div>

    <div data-slide="2" class="slider__slide slider__slide--green slide swiper-slide">
      <div class="container slide__wrapper">
        <div class="row slide__wrapper-inner">
          <div class="slide__content col-12 col-md-5">
            <h2 class="headline headline--h2">RRA als Stilelement im Industrial Style</h2>
            <p class="text">
              Die richtige Belüftung ist elementar, wenn Frontcooking praktiziert wird. Nebenbei sollen die
              Lüftungsanlagen als Designelement dienen.
            </p>
            <a class="btn btn--secondary" href="javascript:void(0)">Mehr erfahren</a>
          </div>

          <div class="slide__meta col-12 col-md-7 ms-auto">
            <div class="slide__image-wrapper">
              <img class="slide__image" src="/src/assets/images/pictures/kampmann-industrial-design.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider__dots navigation__dots navigation__dots container">
    <div class="slider__dots-wrapper navigation__dots-wrapper d-flex swiper-pagination"></div>
  </div>
</section>

<script type="module" src="/dist/js/kampmann.umd.min.js"></script>
 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
