<div class="form">
  <div class="formelement__wrapper">
    <div class="formelement formelement--radio">
      <input id="radio_0" name="radio" class="formelement__option" type="radio" />
      <label for="radio_0" class="formelement__label formelement__label--radio">Blau</label>
    </div>
    <div class="formelement formelement--radio">
      <input id="radio_1" name="radio" class="formelement__option" type="radio" />
      <label for="radio_1" class="formelement__label formelement__label--radio">Gelb</label>
    </div>
    <div class="formelement formelement--radio">
      <input id="radio_2" name="radio" class="formelement__option" type="radio" />
      <label for="radio_2" class="formelement__label formelement__label--radio">Grün</label>
    </div>
  </div>
</div>

<script src="/src/assets/js/form.js"></script>

<style>.form{padding-top:30px;}</style>
