<ul class="list list--check list__level-0">
  <li class="list__item">
    <span class="list__item-content">List Item One</span>
  </li>
  <li class="list__item"><span class="list__item-content">List Item Two</span></li>
  <li class="list__item">
    <span class="list__item-content">List Item Three</span>
    <ul class="list list__sublist list--check list__level-1">
      <li class="list__item"><span class="list__item-content">List Item One</span></li>
      <li class="list__item"><span class="list__item-content">List Item Two</span></li>
    </ul>
  </li>
</ul>
