<h4>With classes</h4>
<ol class="list list--ordered list__level-0">
  <li class="list__item"><span class="list__item-content">List Item One</span></li>
  <li class="list__item"><span class="list__item-content">List Item Two</span></li>
  <li class="list__item">
    <span class="list__item-content">List Item Three</span>
    <ol class="list list__sublist list--ordered list__level-1">
      <li class="list__item"><span class="list__item-content">List Item One</span></li>
      <li class="list__item"><span class="list__item-content">List Item Two</span></li>
    </ol>
  </li>
</ol>

<h4>Without classes</h4>
<ol class="list">
  <li>List Item One</li>
  <li>List Item Two</li>
  <li>
    List Item
    <ol class="list">
      <li>List Item One</li>
      <li>List Item Two</li>
    </ol>
  </li>
</ol>
