.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  transition: transform 0.25s ease-in-out;
  height: 100px;

  &-dummy-hero {
    background-color: $gray-dark;
    height: 500px;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;

    &--main {
      padding-top: 0;
      padding-bottom: 0;
      flex-grow: 1;
      align-items: flex-start;
      background-color: white;

      .header__section-wrapper {
        overflow: visible;
      }
    }

    &--meta {
      transition: 0.25s ease-in-out;
      background-color: $primary;
      padding-top: $grid-gutter-width/4;
      padding-bottom: $grid-gutter-width/4;

      * {
        color: $secondary;
      }
    }

    &--language {
      background-color: rgba(240, 239, 236, 1);
      padding-top: 0;
      padding-bottom: 0;

      .header__section-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }

  &__part {
    &--fullheight {
      height: 100%;
    }
  }

  &__section-wrapper {
    overflow: hidden;
  }

  &__search {
    align-self: flex-start;
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
  }

  &__burger {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width/2;
    align-self: center;
    margin-left: auto;
  }
}

// Dummy purposes
[data-navigation='onpage'] {
  width: 100%;
  position: sticky;
  top: var(--header-height, 0);
  left: 0;
  right: 0;
  z-index: 98;
  transition: 0.25s ease-in-out;
}

@include media-breakpoint-up(md) {
  .header {
    &__wrapper {
      height: auto;
    }

    &__interaction {
      order: 1;
      max-width: 200px;
    }

    &__section-wrapper {
      position: relative;
      overflow: visible;
    }

    &__section {
      &--meta {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
      }
    }

    &__part {
      &--fullheight {
        height: auto;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    &__interaction {
      max-width: unset;
    }
  }
}

@include media-breakpoint-down(md) {
  .header {
    &__section {
      &--main {
        flex-grow: 0;
        align-items: flex-start;
        background-color: transparent;

        .header--open & {
          flex-grow: 1;
        }
      }
    }

    &__interaction {
      position: relative;

      &:before {
        content: '';
        width: 100vw;
        height: 100%;
        background: white;
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
