<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Check-Liste | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <ul class="list list--check list__level-0">
  <li class="list__item">
    <span class="list__item-content">List Item One</span>
  </li>
  <li class="list__item"><span class="list__item-content">List Item Two</span></li>
  <li class="list__item">
    <span class="list__item-content">List Item Three</span>
    <ul class="list list__sublist list--check list__level-1">
      <li class="list__item"><span class="list__item-content">List Item One</span></li>
      <li class="list__item"><span class="list__item-content">List Item Two</span></li>
    </ul>
  </li>
</ul>
 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
