---
title: Ungeordnete Liste
styles: assets/_scss/components/_list.scss
maturity: ready
---

<h4>With classes</h4>
<ul class="list list--unordered list__level-0">
  <li class="list__item">
    <span class="list__item-content">List Item One</span>
  </li>
  <li class="list__item"><span class="list__item-content">List Item Two</span></li>
  <li class="list__item">
    <span class="list__item-content">List Item Three</span>
    <ul class="list list__sublist list--unordered list__level-1">
      <li class="list__item"><span class="list__item-content">List Item One</span></li>
      <li class="list__item"><span class="list__item-content">List Item Two</span></li>
    </ul>
  </li>
</ul>

<h4>Without classes</h4>
<ul>
  <li>List Item One</li>
  <li>List Item Two</li>
  <li>
    List Item Three
    <ul>
      <li>List Item One</li>
      <li>List Item Two</li>
    </ul>
  </li>
</ul>
