<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Deaktivierter Button | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <div class="canvas">
<a href="javascript:void(0)" class="btn btn--disabled">Button Disabled</a>
<a href="javascript:void(0)" class="btn btn--outline-disabled">Outline Button Disabled</a>
</div><!-- norender -->

<style>.canvas{ display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; min-width: 280px; height: 300px; background-color: whitesmoke; border: 1px solid whitesmoke; margin-bottom: 1rem; }
.btn{ margin-bottom: 16px; } </style> 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
