.label {
  font-family: $font-family-base;
  line-height: $headings-line-height;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: $font-size-xxs;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.38px;

  &--headline {
    margin-bottom: 0;
    font-size: $font-size-xl;
    text-transform: none;
    letter-spacing: 0;
  }
}
