<p><strong>Text 16px</strong></p>
<p class="text text--large">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

<hr/>

<p><strong>Text 12px</strong></p>
<p class="text text--extra-small">The quick brown fox jumps over the lazy dog</p>
<br/>
<p><strong>Text 13px</strong></p>
<p class="text text--small">The quick brown fox jumps over the lazy dog</p>
<br/>
<p><strong>Text 14px</strong></p>
<p class="text">The quick brown fox jumps over the lazy dog</p>  
<br/>
<p><strong>Text 18px</strong></p>
<p class="text text--extra-large">The quick brown fox jumps over the lazy dog</p>  