<div class="progress progress--bar my-3">
  <div
    class="progress__status progress-bar"
    role="progressbar"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>

<div class="progress progress--bar my-3">
  <div
    class="progress__status progress__status--teal progress-bar"
    role="progressbar"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>

<div class="progress progress--bar my-3">
  <div
    class="progress__status progress__status--cyan progress-bar"
    role="progressbar"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>

<div class="progress progress--bar my-3">
  <div
    class="progress__status progress__status--green progress-bar"
    role="progressbar"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>

<script type="module" src="/dist/js/kampmann.umd.min.js"></script>
