<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Basic | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <div class="container">
  <div class="row">
    
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card card--basic">
        <div class="card__body card-body">
          <div class="card-title card__title">
            <h3 class="headline headline--h3">Headline for basic card</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          </p>
          <div class="card__links">
            <a href="javascript:void(0)" class="btn btn--primary d-block">Primary Button</a>
            <a href="javascript:void(0)" class="btn btn--outline-primary d-block">Secondary Button</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card card--basic">
        <div class="card__body card-body">
          <div class="card-title card__title">
            <h3 class="headline headline--h3">Headline for basic card</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          </p>
          <div class="card__links">
            <a href="javascript:void(0)" class="btn btn--primary d-block">Primary Button</a>
            <a href="javascript:void(0)" class="btn btn--outline-primary d-block">Secondary Button</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card card--basic">
        <div class="card__body card-body">
          <div class="card-title card__title">
            <h3 class="headline headline--h3">Headline for basic card</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          </p>
          <div class="card__links">
            <a href="javascript:void(0)" class="btn btn--primary d-block">Primary Button</a>
            <a href="javascript:void(0)" class="btn btn--outline-primary d-block">Secondary Button</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <script type="module" src="/dist/js/kampmann.umd.min.js"></script>
</div>
 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
