---
title: Colored
maturity: ready
styles: ''
script: /dist/js/kampmann.umd.min.js
control: exclude
---

<div class="news container">
  <div class="row align-items-stretch">
    {% for news in site.data.news %}
    <div class="col-12 col-md-6">
      <div class="card card--colored card--{{ news.color }}">
        <div class="card__wrapper row">
          <div class="card__image__wrapper col-12">
            <div class="card__image">
              <img src="{{ news.img }}" alt="..." />
            </div>
          </div>
          <div class="card__body__wrapper col-12">
            <div class="card__body">
            <h3 class="news__title card-title headline headline--h3">{{ news.headline }}</h3>
            <p class="card-text">{{ news.text }}</p>
            </div>
          </div>
          <a class="card__link" href="javascript:void(0)"></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script type="module" src="/dist/js/kampmann.umd.min.js"></script>
