<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Colored | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <div class="news container">
  <div class="row align-items-stretch">
    

    
    

    

    <div class="col-12 col-md-12">
      <div class="card card--colored card--teal">
        <div class="card__wrapper row">
          
          <div class="card__image__wrapper col-12 col-md-5">
            <div class="card__image">
              <img src="/src/compiled/assets/images/pictures/kampmann-industrial-design.png" alt="..." />
            </div>
          </div>
          
          <div class="card__body__wrapper col-12 col-md-7">
            <div class="card__body">
            <h2 class="news__title card-title headline headline--h2">Der neue Luftreiniger KA-520 wirkt!</h2>
            <p class="card-text">Der Bedarf an Luftreinigern steigt und damit die Nachfrage nach Sicherheit. Ziel ist es die Ansteckungsgefahr in sämtlichen Lebens- und Arbeitsbereichen zu minimieren. Und hier steht noch mehr längerer Text, damit diese Box länger wird und Wir sehen können wie sich das Bild verändert.</p>
            <a href="javascript:void(0)" class="btn btn--white">Mehr erfahren</a>
            </div>
          </div>
          
          <a class="card__link" href="javascript:void(0)"></a>
        </div>
      </div>
    </div>
    

    
    

    

    <div class="col-12 col-md-12">
      <div class="card card--colored card--gray-light">
        <div class="card__wrapper row">
          
          <div class="card__body__wrapper col-12 col-md-8">
            <div class="card__body">
            <h2 class="news__title card-title headline headline--h2">Genaues Klima für präzise Maschinen!</h2>
            <p class="card-text">Man sieht sie schon von weitem. Auf dem Dach der Industriehallen des Werkzeug-maschinenherstellers Gildemeister in Bielefeld stehen sehr große Lüftungsanlagen.</p>
            <a href="javascript:void(0)" class="btn btn--primary">Mehr erfahren</a>
            </div>
          </div>
          
          <div class="card__image__wrapper col-12 col-md-4">
            <div class="card__image">
              <img src="/src/compiled/assets/images/pictures/kampmann-industrial-design.png" alt="..." />
            </div>
          </div>
          
          <a class="card__link" href="javascript:void(0)"></a>
        </div>
      </div>
    </div>
    

    
    

    

    <div class="col-12 col-md-12">
      <div class="card card--colored card--aloevera">
        <div class="card__wrapper row">
          
          <div class="card__image__wrapper col-12 col-md-6">
            <div class="card__image">
              <img src="/src/compiled/assets/images/pictures/kampmann-industrial-design.png" alt="..." />
            </div>
          </div>
          
          <div class="card__body__wrapper col-12 col-md-6">
            <div class="card__body">
            <h2 class="news__title card-title headline headline--h2">Ein Abschied nach über 40 Jahren.</h2>
            <p class="card-text"> Nach fast 41 Jahren Betriebszugehörigkeit verabschiedet sich Hermann Ensink als Leiter Innovation & Technik in den wohlverdienten Ruhestand. Ein ausgewiesener Experte im Bereich Heizungs- Lüftungs- und Klimatechnik, der mit zahlreichen Produktentwicklungen vieles bewegt hat und dabei immer den Markt und technische Trends im Blick hatte. Ein ausgewiesener Experte im Bereich Heizungs- Lüftungs- und Klimatechnik.</p>
            <a href="javascript:void(0)" class="btn btn--white">Mehr erfahren</a>
            </div>
          </div>
          
          <a class="card__link" href="javascript:void(0)"></a>
        </div>
      </div>
    </div>
    

    
    

    

    <div class="col-12 col-md-6">
      <div class="card card--colored card--green">
        <div class="card__wrapper row">
          
          <div class="card__image__wrapper col-12 col-md-0">
            <div class="card__image">
              <img src="/src/compiled/assets/images/pictures/kampmann-industrial-design.png" alt="..." />
            </div>
          </div>
          
          <div class="card__body__wrapper col-12 col-md-12">
            <div class="card__body">
            <h2 class="news__title card-title headline headline--h2">Der neue Luftreiniger KA-520 wirkt!</h2>
            <p class="card-text">Der Bedarf an Luftreinigern steigt und damit die Nachfrage nach Sicherheit. Ziel ist es die Ansteckungsgefahr in sämtlichen Lebens- und Arbeitsbereichen zu minimieren. Und hier steht noch mehr längerer Text, damit diese Box länger wird und Wir sehen können wie sich das Bild verändert.</p>
            <a href="javascript:void(0)" class="btn btn--white">Mehr erfahren</a>
            </div>
          </div>
          
          <a class="card__link" href="javascript:void(0)"></a>
        </div>
      </div>
    </div>
    

    
    

    

    <div class="col-12 col-md-6">
      <div class="card card--colored card--cyan">
        <div class="card__wrapper row">
          
          <div class="card__body__wrapper col-12 col-md-12">
            <div class="card__body">
            <h2 class="news__title card-title headline headline--h2">Genaues Klima für präzise Maschinen!</h2>
            <p class="card-text">Man sieht sie schon von weitem. Auf dem Dach der Industriehallen des Werkzeug-maschinenherstellers Gildemeister in Bielefeld stehen sehr große Lüftungsanlagen.</p>
            <a href="javascript:void(0)" class="btn btn--white">Mehr erfahren</a>
            </div>
          </div>
          
          <div class="card__image__wrapper col-12 col-md-0">
            <div class="card__image">
              <img src="/src/compiled/assets/images/pictures/kampmann-industrial-design.png" alt="..." />
            </div>
          </div>
          
          <a class="card__link" href="javascript:void(0)"></a>
        </div>
      </div>
    </div>
    

    
    

    

    <div class="col-12 col-md-12">
      <div class="card card--colored card--primary">
        <div class="card__wrapper row">
          
          <div class="card__image__wrapper col-12 col-md-7">
            <div class="card__image">
              <img src="/src/compiled/assets/images/pictures/kampmann-industrial-design.png" alt="..." />
            </div>
          </div>
          
          <div class="card__body__wrapper col-12 col-md-5">
            <div class="card__body">
            <h2 class="news__title card-title headline headline--h2">Ein Abschied nach über 40 Jahren.</h2>
            <p class="card-text"> Nach fast 41 Jahren Betriebszugehörigkeit verabschiedet sich Hermann Ensink als Leiter Innovation & Technik in den wohlverdienten Ruhestand. Ein ausgewiesener Experte im Bereich Heizungs- Lüftungs- und Klimatechnik.</p>
            <a href="javascript:void(0)" class="btn btn--white">Mehr erfahren</a>
            </div>
          </div>
          
          <a class="card__link" href="javascript:void(0)"></a>
        </div>
      </div>
    </div>
    
  </div>
</div>

<script type="module" src="/dist/js/kampmann.umd.min.js"></script>
 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
