---
title: Events
maturity: draft
styles: ''
script: /dist/js/kampmann.umd.min.js
control: exclude
---

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
      <div class="events swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm-11">
                  <div class="card__body card-body">
                    <p class="label card__type card__body__item">Online Fachmesse</p>
                    <h4 class="card__title card__body__item headline headline--h4 card-title">
                      <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                    </h4>
                    <p class="card__body__item card__data card-text text text--large">
                      <span class="card__data__item card__data__item--date"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                      >
                      <span class="card__data__item card__data__item--location"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-location.svg" />Gelsenkirchen</span
                      >
                    </p>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm-11">
                  <div class="card__body card-body">
                    <p class="label card__type card__body__item">Online Fachmesse</p>
                    <h4 class="card__title card__body__item headline headline--h4 card-title">
                      <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                    </h4>
                    <p class="card__body__item card__data card-text text text--large">
                      <span class="card__data__item card__data__item--date"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                      >
                      <span class="card__data__item card__data__item--location"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-location.svg" />Gelsenkirchen</span
                      >
                    </p>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm-11">
                  <div class="card__body card-body">
                    <p class="label card__type card__body__item">Online Fachmesse</p>
                    <h4 class="card__title card__body__item headline headline--h4 card-title">
                      <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                    </h4>
                    <p class="card__body__item card__data card-text text text--large">
                      <span class="card__data__item card__data__item--date"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                      >
                      <span class="card__data__item card__data__item--location"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-location.svg" />Gelsenkirchen</span
                      >
                    </p>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm-11">
                  <div class="card__body card-body">
                    <p class="label card__type card__body__item">Online Fachmesse 2</p>
                    <h4 class="card__title card__body__item headline headline--h4 card-title">
                      <a href="javascript:void(0)">Projekt-Management in der TGA-Branche 2</a>
                    </h4>
                    <p class="card__body__item card__data card-text text text--large">
                      <span class="card__data__item card__data__item--date"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                      >
                      <span class="card__data__item card__data__item--location"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-location.svg" />Gelsenkirchen</span
                      >
                    </p>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm-11">
                  <div class="card__body card-body">
                    <p class="label card__type card__body__item">Online Fachmesse 2</p>
                    <h4 class="card__title card__body__item headline headline--h4 card-title">
                      <a href="javascript:void(0)">Projekt-Management in der TGA-Branche 2</a>
                    </h4>
                    <p class="card__body__item card__data card-text text text--large">
                      <span class="card__data__item card__data__item--date"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                      >
                      <span class="card__data__item card__data__item--location"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-location.svg" />Gelsenkirchen</span
                      >
                    </p>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm-11">
                  <div class="card__body card-body">
                    <p class="label card__type card__body__item">Online Fachmesse 2</p>
                    <h4 class="card__title card__body__item headline headline--h4 card-title">
                      <a href="javascript:void(0)">Projekt-Management in der TGA-Branche 2</a>
                    </h4>
                    <p class="card__body__item card__data card-text text text--large">
                      <span class="card__data__item card__data__item--date"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                      >
                      <span class="card__data__item card__data__item--location"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-location.svg" />Gelsenkirchen</span
                      >
                    </p>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm-11">
                  <div class="card__body card-body">
                    <p class="label card__type card__body__item">Online Fachmesse 3</p>
                    <h4 class="card__title card__body__item headline headline--h4 card-title">
                      <a href="javascript:void(0)">Projekt-Management in der TGA-Branche 3</a>
                    </h4>
                    <p class="card__body__item card__data card-text text text--large">
                      <span class="card__data__item card__data__item--date"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                      >
                      <span class="card__data__item card__data__item--location"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-location.svg" />Gelsenkirchen</span
                      >
                    </p>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm-11">
                  <div class="card__body card-body">
                    <p class="label card__type card__body__item">Online Fachmesse 3</p>
                    <h4 class="card__title card__body__item headline headline--h4 card-title">
                      <a href="javascript:void(0)">Projekt-Management in der TGA-Branche 3</a>
                    </h4>
                    <p class="card__body__item card__data card-text text text--large">
                      <span class="card__data__item card__data__item--date"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                      >
                      <span class="card__data__item card__data__item--location"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-location.svg" />Gelsenkirchen</span
                      >
                    </p>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm-11">
                  <div class="card__body card-body">
                    <p class="label card__type card__body__item">Online Fachmesse 3</p>
                    <h4 class="card__title card__body__item headline headline--h4 card-title">
                      <a href="javascript:void(0)">Projekt-Management in der TGA-Branche 3</a>
                    </h4>
                    <p class="card__body__item card__data card-text text text--large">
                      <span class="card__data__item card__data__item--date"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                      >
                      <span class="card__data__item card__data__item--location"
                        ><img src="/src/compiled/assets/images/icons/kampmann-event-location.svg" />Gelsenkirchen</span
                      >
                    </p>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="navigation__dots swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="{{ page.script }}"></script>
