---
title: Events
maturity: ready
styles: ''
script: /dist/js/kampmann.umd.min.js
control: exclude
---

<div class="container mb-5">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
      <div class="events swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="navigation__dots swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="events swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                        <p class="card__teaser">
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                        </p>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                    <div class="card__status__wrapper">
                      <div class="card__status status">
                        <span class="card__status__item status__item status__item--good status__item--checked"></span>
                        <span class="card__status__item status__item status__item--neutral"></span>
                        <span class="card__status__item status__item status__item--bad"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                        <p class="card__teaser">
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                          Aenean massa.
                        </p>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                    <div class="card__status__wrapper">
                      <div class="card__status status">
                        <span class="card__status__item status__item status__item--good"></span>
                        <span
                          class="card__status__item status__item status__item--neutral status__item--checked"
                        ></span>
                        <span class="card__status__item status__item status__item--bad"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                        <p class="card__teaser">
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                          mus.
                        </p>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                    <div class="card__status__wrapper">
                      <div class="card__status status">
                        <span class="card__status__item status__item status__item--good"></span>
                        <span class="card__status__item status__item status__item--neutral"></span>
                        <span class="card__status__item status__item status__item--bad status__item--checked"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                        <p class="card__teaser">Online Praxis-Seminar mit Planspiel</p>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                    <div class="card__status__wrapper">
                      <div class="card__status status">
                        <span class="card__status__item status__item status__item--good status__item--checked"></span>
                        <span class="card__status__item status__item status__item--neutral"></span>
                        <span class="card__status__item status__item status__item--bad"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                        <p class="card__teaser">Online Praxis-Seminar mit Planspiel</p>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                    <div class="card__status__wrapper">
                      <div class="card__status status">
                        <span class="card__status__item status__item status__item--good status__item--checked"></span>
                        <span class="card__status__item status__item status__item--neutral"></span>
                        <span class="card__status__item status__item status__item--bad"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                        <p class="card__teaser">Online Praxis-Seminar mit Planspiel</p>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                    <div class="card__status__wrapper">
                      <div class="card__status status">
                        <span class="card__status__item status__item status__item--good status__item--checked"></span>
                        <span class="card__status__item status__item status__item--neutral"></span>
                        <span class="card__status__item status__item status__item--bad"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                        <p class="card__teaser">Online Praxis-Seminar mit Planspiel</p>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                    <div class="card__status__wrapper">
                      <div class="card__status status">
                        <span class="card__status__item status__item status__item--good status__item--checked"></span>
                        <span class="card__status__item status__item status__item--neutral"></span>
                        <span class="card__status__item status__item status__item--bad"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                        <p class="card__teaser">Online Praxis-Seminar mit Planspiel</p>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                    <div class="card__status__wrapper">
                      <div class="card__status status">
                        <span class="card__status__item status__item status__item--good status__item--checked"></span>
                        <span class="card__status__item status__item status__item--neutral"></span>
                        <span class="card__status__item status__item status__item--bad"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>

            <div class="events__item card card--event mb-3">
              <div class="card__wrapper row g-0">
                <div class="card__content col-sm">
                  <div class="card__body card-body">
                    <div class="card__body__wrapper">
                      <div class="card__body__item card__body__item--details">
                        <p class="label card__type">Online Fachmesse</p>
                        <h4 class="card__title headline headline--h4 card-title">
                          <a href="javascript:void(0)">Projekt-Management in der TGA-Branche</a>
                        </h4>
                        <p class="card__teaser">Online Praxis-Seminar mit Planspiel</p>
                      </div>
                      <p class="card__body__item card__body__item--data card__data card-text text text--large">
                        <span class="card__data__item card__data__item--date"
                          ><img src="/src/compiled/assets/images/icons/kampmann-event-date.svg" />05.02.2021</span
                        >
                        <span class="card__data__item card__data__item--location"
                          ><img
                            src="/src/compiled/assets/images/icons/kampmann-event-location.svg"
                          />Gelsenkirchen</span
                        >
                      </p>
                    </div>
                    <div class="card__status__wrapper">
                      <div class="card__status status">
                        <span class="card__status__item status__item status__item--good status__item--checked"></span>
                        <span class="card__status__item status__item status__item--neutral"></span>
                        <span class="card__status__item status__item status__item--bad"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="card__link col-sm-1">
                  <img
                    class="card__link__icon"
                    src="/src/compiled/assets/images/icons/kampmann-link.svg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="navigation__dots swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/dist/js/kampmann.umd.min.js"></script>
