---
title: News
maturity: draft
styles: ''
script: /dist/js/kampmann.umd.min.js
control: exclude
---

<div class="news container">
  <div class="row">
    {% for news in site.data.news_highlight %}
    <div class="col-12">
      <div class="news__item card card--news card--news-highlight card--{{ news.color }}">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7">
            <img src="{{ news.img }}" class="card__image" alt="..." />
          </div>
          <div class="col-12 col-md-6 col-lg-5 d-flex">
            <div class="card__body card-body">
              <div class="card__data">
                <p class="card__data__item label tag">{{ news.date }}</p>
                <p class="card__data__item label tag">{{ news.label }}</p>
              </div>
              <h3 class="news__title card-title headline headline--h3">{{ news.headline }}</h3>
              <p class="card-text">{{ news.text }}</p>
            </div>
            <a class="card__link" href="javascript:void(0)"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" data-masonry='{"percentPosition": true, "horizontalOrder": true }'>
    {% endfor %} {% for news in site.data.news %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="news__item card card--news card--{{ news.color }}">
        <img src="{{ news.img }}" class="card__image card-img-top" alt="..." />
        <div class="card__body card-body">
          <div class="card__data">
            <p class="card__data__item label tag">{{ news.date }}</p>
            <p class="card__data__item label tag">{{ news.label }}</p>
          </div>
          <h3 class="news__title card-title headline headline--h3">{{ news.headline }}</h3>
          <p class="card-text">{{ news.text }}</p>
        </div>
        <a class="card__link" href="javascript:void(0)"></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script type="module" src="{{ page.script }}"></script>
