---
title: Product
maturity: draft
styles: ''
script: /dist/js/kampmann.umd.min.js
control: exclude
---

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card card--product">
        <div class="card__slider swiper">
          <div class="swiper-wrapper">
            <img
              src="/src/compiled/assets/images/pictures/kampmann-unterflurkonvektor-katherm-qk-nano.png"
              class="card-img-top swiper-slide"
              alt="..."
            />
            <img
              src="/src/compiled/assets/images/pictures/kampmann-unterflurkonvektor-katherm-qk-nano.png"
              class="card-img-top swiper-slide"
              alt="..."
            />
          </div>

          <div class="card__slider__control card__slider__control--prev swiper-button-prev">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg">
          </div>
          <div class="card__slider__control card__slider__control--next swiper-button-next">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg">
          </div>
        </div>
        <div class="card-title card__title">
          <h3 class="headline headline--h3">Katherm QK</h3>
          <p class="text text--large my-0">Ich habe nur sehr wenig Platz.</p>
        </div>

        <div class="card__body card-body">
          <div class="card__tabs tabs">
            <ul class="tabs__navigation nav nav-pills" role="tablist">
              <li class="tabs__navigation__item nav-item" role="presentation">
                <button
                  class="nav-link active tabs__navigation__link headline headline--h6 mb-0"
                  data-bs-toggle="tab"
                  data-bs-target="#katherm-qk-facts"
                >
                  Quick Facts
                </button>
              </li>
              <li class="tabs__navigation__item nav-item" role="presentation">
                <button
                  class="nav-link tabs__navigation__link headline headline--h6 mb-0"
                  data-bs-toggle="tab"
                  data-bs-target="#katherm-qk-data"
                >
                  Leistungsdaten
                </button>
              </li>
              <li class="tabs__navigation__item nav-item" role="presentation">
                <button
                  class="nav-link tabs__navigation__link headline headline--h6 mb-0"
                  data-bs-toggle="tab"
                  data-bs-target="#katherm-qk-measurements"
                >
                  Abmessungen
                </button>
              </li>
            </ul>

            <div class="tabs__content tab-content" id="myTabContent">
              <div class="tabs__content__item tab-pane fade show active" id="katherm-qk-facts">
                <ul class="list list--unordered list__level-0">
                  <li class="list__item">
                    <span class="list__item-content"
                      >Reaktionsschnell mit marktführend leiser EC-Querstromventilation</span
                    >
                  </li>
                  <li class="list__item"><span class="list__item-content">Kleinste Abmessungen</span></li>
                </ul>
              </div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-data"></div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-measurements"></div>
            </div>
          </div>

          <div class="card__links">
            <a href="javascript:void(0)" class="btn btn--primary d-block">Berechnen</a>
            <a href="javascript:void(0)" class="btn btn--outline-primary d-block">Produkt&shy;details</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card card--product">
        <div class="card__slider swiper">
          <div class="swiper-wrapper">
            <img
              src="/src/compiled/assets/images/pictures/kampmann-unterflurkonvektor-katherm-qk-nano.png"
              class="card-img-top swiper-slide"
              alt="..."
            />
            <img
              src="/src/compiled/assets/images/pictures/kampmann-unterflurkonvektor-katherm-qk-nano.png"
              class="card-img-top swiper-slide"
              alt="..."
            />
          </div>

          <div class="card__slider__control card__slider__control--prev swiper-button-prev">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg">
          </div>
          <div class="card__slider__control card__slider__control--next swiper-button-next">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg">
          </div>
        </div>
        <div class="card-title card__title">
          <h3 class="headline headline--h3">Katherm QK nano</h3>
          <p class="text text--large my-0">Ich habe nur sehr wenig Platz.</p>
        </div>

        <div class="card__body card-body">
          <div class="card__tabs tabs">
            <ul class="tabs__navigation nav nav-pills" role="tablist">
              <li class="tabs__navigation__item nav-item" role="presentation">
                <button
                  class="nav-link active tabs__navigation__link headline headline--h6 mb-0"
                  data-bs-toggle="tab"
                  data-bs-target="#katherm-qk-nano-facts"
                >
                  Quick Facts
                </button>
              </li>
              <li class="tabs__navigation__item nav-item" role="presentation">
                <button
                  class="nav-link tabs__navigation__link headline headline--h6 mb-0"
                  data-bs-toggle="tab"
                  data-bs-target="#katherm-qk-nano-data"
                >
                  Leistungsdaten
                </button>
              </li>
              <li class="tabs__navigation__item nav-item" role="presentation">
                <button
                  class="nav-link tabs__navigation__link headline headline--h6 mb-0"
                  data-bs-toggle="tab"
                  data-bs-target="#katherm-qk-nano-measurements"
                >
                  Abmessungen
                </button>
              </li>
            </ul>

            <div class="tabs__content tab-content" id="myTabContent">
              <div class="tabs__content__item tab-pane fade show active" id="katherm-qk-nano-facts">
                <ul class="list list--unordered list__level-0">
                  <li class="list__item">
                    <span class="list__item-content"
                      >Reaktionsschnell mit marktführend leiser EC-Querstromventilation</span
                    >
                  </li>
                  <li class="list__item"><span class="list__item-content">Kleinste Abmessungen</span></li>
                </ul>
              </div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-nano-data"></div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-nano-measurements"></div>
            </div>
          </div>

          <div class="card__links">
            <a href="javascript:void(0)" class="btn btn--primary d-block">Berechnen</a>
            <a href="javascript:void(0)" class="btn btn--outline-primary d-block">Produkt&shy;details</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card card--product">
        <div class="card__slider swiper">
          <div class="swiper-wrapper">
            <img
              src="/src/compiled/assets/images/pictures/kampmann-unterflurkonvektor-katherm-qk-nano.png"
              class="card-img-top swiper-slide"
              alt="..."
            />
            <img
              src="/src/compiled/assets/images/pictures/kampmann-unterflurkonvektor-katherm-qk-nano.png"
              class="card-img-top swiper-slide"
              alt="..."
            />
          </div>

          <div class="card__slider__control card__slider__control--prev swiper-button-prev">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg">
          </div>
          <div class="card__slider__control card__slider__control--next swiper-button-next">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg">
          </div>
        </div>
        <div class="card-title card__title">
          <h3 class="headline headline--h3">Katherm HK</h3>
          <p class="text text--large my-0">Ich habe nur sehr wenig Platz.</p>
        </div>

        <div class="card__body card-body">
          <div class="card__tabs tabs">
            <ul class="tabs__navigation nav nav-pills" role="tablist">
              <li class="tabs__navigation__item nav-item" role="presentation">
                <button
                  class="nav-link active tabs__navigation__link headline headline--h6 mb-0"
                  data-bs-toggle="tab"
                  data-bs-target="#katherm-hk-facts"
                >
                  Quick Facts
                </button>
              </li>
              <li class="tabs__navigation__item nav-item" role="presentation">
                <button
                  class="nav-link tabs__navigation__link headline headline--h6 mb-0"
                  data-bs-toggle="tab"
                  data-bs-target="#katherm-hk-data"
                >
                  Leistungsdaten
                </button>
              </li>
              <li class="tabs__navigation__item nav-item" role="presentation">
                <button
                  class="nav-link tabs__navigation__link headline headline--h6 mb-0"
                  data-bs-toggle="tab"
                  data-bs-target="#katherm-hk-measurements"
                >
                  Abmessungen
                </button>
              </li>
            </ul>

            <div class="tabs__content tab-content" id="myTabContent">
              <div class="tabs__content__item tab-pane fade show active" id="katherm-hk-facts">
                <ul class="list list--unordered list__level-0">
                  <li class="list__item">
                    <span class="list__item-content"
                      >Reaktionsschnell mit marktführend leiser EC-Querstromventilation</span
                    >
                  </li>
                  <li class="list__item"><span class="list__item-content">Kleinste Abmessungen</span></li>
                </ul>
              </div>
              <div class="tabs__content__item tab-pane fade" id="katherm-hk-data"></div>
              <div class="tabs__content__item tab-pane fade" id="katherm-hk-measurements"></div>
            </div>
          </div>

          <div class="card__links">
            <a href="javascript:void(0)" class="btn btn--primary d-block">Berechnen</a>
            <a href="javascript:void(0)" class="btn btn--outline-primary d-block">Produkt&shy;details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="{{ page.script }}"></script>
</div>
