---
title: Grid
maturity: draft
styles: ''
control: exclude
inlinestyles: '
  <style>
    body{
      background: whitesmoke
    }

    span{
      display:block;
      background-color: rgb(15 34 72 / 20%);
      width:100%;
    }

    .overlay{
      position: fixed;
      top:0;
      left:0;
      width:100%;
      height: 100%;
      z-index: 999;
    }

    .overlay *{
      height:100%;
    }
  </style>
'
---

<div class="overlay">
  <div class="container">
    <div class="row">
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
      <div class="col-1"><span></span></div>
    </div>
  </div>
</div>

<main class="content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="headline headline--h2">The Grid</h1>
        <p><strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</strong></p>
      </div>

      <div class="col-12 col-md-6">
        <h3>Breakpoints</h3>
        <ul>
          <li><strong>XS:</strong> 0 - 576px</li>
          <li><strong>SM:</strong> 576px - 768px</li>
          <li><strong>MD:</strong> 768px - 992px</li>
          <li><strong>LG:</strong> 992px - 1200px</li>
          <li><strong>XL:</strong> 1200px - 1400px</li>
          <li><strong>XXL:</strong> > 1400px</li>
        </ul>
      </div>

      <div class="col-12 col-md-6">
        <h3>Container Widths</h3>
        <ul>
          <li><strong>XS:</strong> 100% - 40px</li>
          <li><strong>SM:</strong> 540px</li>
          <li><strong>MD:</strong> 720px</li>
          <li><strong>LG:</strong> 960px</li>
          <li><strong>XL:</strong> 1140px</li>
          <li><strong>XXL:</strong> 1320px</li>
        </ul>
      </div>
    </div>
  </div>
</main>

{{ page.inlinestyles }}
