@import 'bootstrap/scss/mixins.scss';
@import 'bootstrap/scss/functions.scss';
@import 'bootstrap/scss/utilities.scss';
@import 'bootstrap/scss/card.scss';

.card {
  background-color: var(--highlight-color, transparent);
  margin-bottom: $grid-gutter-width;

  &--teal {
    --highlight-color: #{$teal};
    --contrast-color: #{color-contrast($teal)};

    * {
      color: var(--contrast-color, $blue);
    }
  }

  &--green {
    --highlight-color: #{$green};
    --contrast-color: #{color-contrast($green)};

    * {
      color: var(--contrast-color, $blue);
    }
  }

  &--cyan {
    --highlight-color: #{$cyan};
    --contrast-color: #{color-contrast($cyan)};

    * {
      color: var(--contrast-color, $blue);
    }
  }

  &--gray-light {
    --highlight-color: #{$gray-light};
    --contrast-color: #{color-contrast($gray-light)};

    * {
      color: var(--contrast-color, $blue);
    }
  }

  &__slider {
    &__control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 99;
      display: flex;
      padding: $card-spacer-y $card-spacer-x;

      &--prev {
        transform: rotate(180deg) translateY(50%);
      }

      &--next {
        right: 0;
      }

      &.disabled {
        opacity: 0.4;
      }
    }
  }

  &__tabs {
    .list__item-content {
      color: $body-color;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__links {
    margin-top: auto;
    align-self: flex-end;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &--basic {
    .card {
      &__title {
        .headline {
          margin-bottom: 0;
        }
      }
    }
  }

  &--news {
    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: $box-shadow;
    }

    .card {
      border: 1px solid $gray-light;

      &__body {
        padding: 40px;
      }

      &__data {
        display: flex;
        gap: $grid-gutter-width / 2;
        flex: 0 0 auto;
        width: 100%;

        &__item {
          color: $white;
        }
      }

      &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-highlight {
      @include media-breakpoint-up(md) {
        .row > *:first-child {
          padding-right: 0;
        }
        .row > *:last-child {
          padding-left: 0;
        }
      }

      .card__image {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;

        @include media-breakpoint-up(md) {
          border-top-right-radius: 0px !important;
          border-bottom-left-radius: 10px !important;
          object-fit: cover;
          height: 100%;
        }
      }

      .card__body {
        align-self: center;
        align-items: center;

        & > * {
          flex: 0 1 auto;
        }
      }
    }
  }

  &--product {
    height: calc(100% - #{$grid-gutter-width});
    overflow: hidden;
    border-radius: $border-radius;

    .card {
      &__slider {
        width: 100%;
        height: 210px;
        overflow: hidden;

        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 30px;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      &__title {
        background: $gray-light;
        padding: $card-spacer-y $card-spacer-x;
        min-height: 105px;

        .headline {
          margin-bottom: 0;
        }
      }

      &__tabs {
        .tab-content {
          border: none !important;
        }
      }
    }
  }

  &--event {
    overflow: hidden;

    .card {
      &__title {
        margin-bottom: 0;
      }

      &__body {
        padding: $grid-gutter-width * 1.25;
        display: flex;
        flex-wrap: nowrap;
        gap: $grid-gutter-width * 2;

        &__wrapper {
          display: flex;
          flex-wrap: wrap;
          flex: 1 1 auto;
          gap: $grid-gutter-width;
          align-items: center;
        }

        &__item {
          width: 100%;
          width: auto;

          &--details {
            flex: 0 1 auto;
            padding-right: $grid-gutter-width;
            margin-right: auto;

            @include media-breakpoint-up(md) {
              flex: 1;
            }

            > * {
              width: 100%;
            }
          }

          &--data {
            display: flex;
            flex-wrap: wrap;
            flex: 0 1 auto;
            margin: 0 $grid-gutter-width/-1;

            @include media-breakpoint-up(md) {
              flex: 0 0 200px;
              margin-left: auto;
            }
          }
        }
      }

      &__teaser {
        margin: 0;
        margin-top: 0.5em;
      }

      &__status {
        &__wrapper {
          margin-left: $grid-gutter-width * 1.25;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          align-content: center;
          width: 22px;
          justify-content: flex-start;
        }
      }

      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary;
        min-height: $grid-gutter-width * 2;
        transition: 0.3s;

        @include media-breakpoint-up(md) {
          flex: 0 0 46px;
        }

        &__icon {
          transition: 0.3s;
        }

        &:hover {
          .card__link__icon {
            animation: 1.2s point linear infinite;
          }
        }
      }

      &__data {
        &__item {
          display: inline-flex;
          flex: 0 1 auto;
          align-items: center;
          padding: $grid-gutter-width/4 $grid-gutter-width;

          @include media-breakpoint-up(md) {
            flex: 1 1 auto;
          }
        }

        img {
          margin-right: $grid-gutter-width/4;
        }
      }
    }

    @media (max-width: 450px) {
      .card {
        &__body {
          flex-wrap: wrap;
        }
        &__status {
          display: flex;

          &__wrapper {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
