@import 'bootstrap/scss/mixins.scss';
@import 'bootstrap/scss/utilities.scss';
@import 'bootstrap/scss/card.scss';

.card {
  &__type {
    margin-bottom: 0.25rem;
  }

  &__slider {
    &__control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 99;
      display: flex;
      padding: $card-spacer-y $card-spacer-x;

      &--prev {
        transform: rotate(180deg) translateY(50%);
      }

      &--next {
        right: 0;
      }

      &.disabled {
        opacity: 0.4;
      }
    }
  }

  &__tabs {
    .list__item-content {
      color: $body-color;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__links {
    margin-top: auto;
    align-self: flex-end;
    width: 100%;
  }

  &__data {
    margin: 0 $grid-gutter-width/-1;

    &__item {
      display: inline-flex;
      align-items: center;
      padding: 0 $grid-gutter-width;
    }

    img {
      margin-right: $grid-gutter-width/4;
    }
  }

  &--product {
    height: 100%;

    .card {
      &__title {
        background: $gray-light;
        padding: $card-spacer-y $card-spacer-x;

        .headline {
          margin-bottom: 0;
        }
      }
    }
  }

  &--event {
    overflow: hidden;
    .card {
      &__title {
        margin-bottom: $grid-gutter-width;
      }

      &__body {
        padding: $grid-gutter-width * 1.25;
        &__item {
          width: 100%;
        }
      }

      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary;
        min-height: $grid-gutter-width * 2;
      }
    }
  }
}
