@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

.navigation{
  &__burger{
    cursor:pointer;

    &.--active{
      .navigation__burger-part{
        margin-top: -2px;
        margin-bottom: -2px;

        &:first-child{
          transform: rotate(405deg);
          margin-top:$grid-gutter-width;
        }

        &:nth-child(2){
          transform: rotate(320deg);
          width: 0;
        }

        &:last-child{
          transform: rotate(315deg);
          margin-bottom:$grid-gutter-width;
        }
      }
    }
  }

  &__burger-part{
    transition:.6s;
    display:block;
    width: $grid-gutter-width * 1.25;
    height:2px;
    background: $primary;
    margin-top: $grid-gutter-width/4;
    margin-bottom: $grid-gutter-width/4;
    margin-left: auto;
    margin-right: auto;
  }

  &__list{
    margin:0;
    padding:0;
    list-style:none;
  }

  &--meta{
    .navigation{
      &__list{
        display:flex;
        margin-left: $grid-gutter-width / -2;
        margin-right: $grid-gutter-width / -2;
      }

      &__link{
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        font-size: 0;
      }
    }
  }

  &--main{
    &.--active{
      .navigation__wrapper{
        height:100%;
      }
    }
    
    .navigation{      
      &__wrapper{
        width: 100vw;
        padding-left: $grid-gutter-width * 1.5;
        padding-right: $grid-gutter-width * 1.5;
        margin-left: 50%;
        transform: translateX(-50%);
        background: rgba($gray, 0.35);

        height:0;
        overflow:hidden;
        overflow-y: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      &__wrapper-inner{
        overflow:hidden;
        overflow-y: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      &__list{

        &--level-0{
          position:relative;
          transition:.3s;
          margin-left:calc(var(--active-level) * -100%);
          width:100%;
        }

        &--subnavigation{
          // margin-bottom:-100%;
          position: absolute;
          height:100%;
          transform: translateX(100%);
          top: 0;
          display:none;

          .navigation__element{
          }
        }

        &--subnavigation-0{
          transform:none;
          width:100%;
        }

        &--active{
          display:block;
        }
      }

      &__element-wrapper{
        display:flex;
        align-items: flex-start;
        position:relative;

        .navigation__link{
          flex-grow:1;
        }
      }

      &__element{
        display:flex;

        &:not(:last-child){
          margin-bottom: $grid-gutter-width/3;
        }

        &--breadcrumb{
          opacity:.7;
          display: flex;
          margin-bottom: $grid-gutter-width;
          padding-top: $grid-gutter-width/2;
          padding-bottom: $grid-gutter-width/2;
          margin-top: $grid-gutter-width/2;
          border-bottom: 1px solid $gray;

          .navigation__link{
            font-size: $font-size-xs;
            cursor:pointer;
            width:auto;
            flex-shrink:1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            position: relative;
            transition:.3s;

            &:not(:last-child){
              padding-right: 10px;

              &:after{
                content:" · ";
                position: absolute;
                right: 3px;
              }
            }
          }
        }

        >*{
          width:100%;
          flex-shrink:0;
        }
      }

      &__link{
        font-size: $font-size-root;
        line-height: 1.3em;

        &:hover{
          color:$green;
        }
      }

      &__subnavigation-trigger{
        margin-top: 4px;
        position: absolute;
        right: 0;
        width: auto;
        min-width: $grid-gutter-width;
      }
    }
  }
}

@include media-breakpoint-up(sm){
  .navigation{
    &--meta{
      .navigation{
        &__link{
          font-size: $font-size-base;
        }
      }
    }

    &--main{
      display:block;
      // align-self:flex-start;

      .navigation{
        &__wrapper{
          height:100%;
          background:$secondary;
          padding-left: calc((100vw - 520px) / 2);
          padding-right: calc((100vw - 520px) / 2);
        }

        &__wrapper-inner{
          position:relative;
        }

        &__element{
          align-self:flex-start;

          &:hover{
            > .navigation__element-wrapper .navigation__link{
              color: $green !important;
            }

            >ul, >.subnavigation, >.subnavigation>ul{
              display:block;
            }
          }

          &--breadcrumb{
            margin-top: 0;
          }
        }

        &__element-wrapper{
          z-index:999;
        }

        &__list{
          &--subnavigation{
            padding-top:$grid-gutter-width * 2;
          }

          &--level-0{
            margin-left:$grid-gutter-width/-2;
            margin-right: $grid-gutter-width/-2;
            display:flex;
            position:static;
            // margin-left: 0;

            >.navigation__element>.navigation__element-wrapper{
              align-items: center;

              .navigation{
                &__link{
                  display:block;
                  padding-left: $grid-gutter-width/2;
                  padding-right: $grid-gutter-width/2 !important;
                  padding-top: $grid-gutter-width/4;
                  padding-bottom: $grid-gutter-width/4;
                  font-weight:700;
                  text-transform: uppercase;

                  &:not(:hover){
                    color:$primary;
                  }
                }

                &__subnavigation-trigger{
                  position: relative;
                  display: flex;
                  justify-content: center;
                  margin-left: $grid-gutter-width/-2;

                  img{
                    transform: rotate(90deg);
                    padding: 0;
                    max-width: 7px;
                  }
                }
              }
            } 
          }

          &--level-1{
            transition:.3s;
            transform: none;
          }
        }
      }

      .subnavigation{
        display:none;
        transition: .3s;
        margin-left: calc(-100% * var(--active-level));
        position: absolute;
        height: 100%;
        top: 0;
        left:0;
        transform: none;
      }
    }
  }
}

@include media-breakpoint-up(md){
  .navigation{
    &--main{
      position:static;
      
      .navigation{
        &__wrapper{
          height:100%;
          width: auto;
          margin-left: 0;
          transform: none;
          padding: 0;
          overflow:visible;
        }

        &__wrapper-inner{
          height:100%;
          overflow:visible;
          position:static;
        }

        &__list{
          padding-top: $grid-gutter-width;

          &--level-0{
            position:static;
            height:100%;
            padding-top:0;

            > .navigation{
              &__element{
                margin-bottom:0;
              }
            }
          }

          &--level-1{
            >.navigation__element >.navigation__list--level-4{
              transform:translateX(75%)
            }
          }

          &--level-2{
            >.navigation__element >.navigation__list--level-4{
              transform:translateX(50%)
            }
          }

          &--level-4{
            .navigation__element-wrapper{
              background-image: url(/styleguide/src/assets/images/graphics/divider.svg);
              background-repeat: repeat-y;
              padding-left: $grid-gutter-width !important;
              padding-top: $grid-gutter-width;
              padding-bottom: $grid-gutter-width;
            }
          }

          &--subnavigation{
            height:auto;
            opacity:0;
            // transition:opacity 1s !important;

            &:not(.navigation__list--level-1){
              transform: translateX(25%);
              padding-top: $grid-gutter-width;
            }

            .navigation{
              &__element-wrapper{
                width: 25%;
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
              }
            }
          }
        }

        &__element-wrapper{
          transition: color .3s;
          align-self:center;
        }

        &__element{
          align-self:stretch;
          &--breadcrumb{
            display:none;
          }

          &:hover{
            .subnavigation{
              display:flex !important;
              animation: .3s fadeIn forwards;
            }
            > .navigation__list, > .subnavigation > .navigation__list{
              opacity:1;
              animation: .4s fadeIn forwards;
              display:block;
            }
          }
        }
      }

      .subnavigation{
        height:0;
        overflow:hidden;
        box-sizing:content-box;
        padding-bottom: $grid-gutter-width;
        margin-top: calc(48px + #{$grid-gutter-width}); 
        margin-left:0;
        justify-content:center;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        background: rgba($gray, 0.35);
      }
    }
  }
}
