.slider {
  overflow: visible;

  &__wrapper {
    overflow: hidden;
    padding-bottom: $grid-gutter-width * 2;
  }

  &__slide {
    background-color: var(--highlight-color);
    height: auto;

    *:not(.btn) {
      color: var(--contrast-color);
    }

    .btn {
      color: var(--highlight-color);
    }

    &--teal {
      --highlight-color: #{$teal};
      --contrast-color: white;
    }

    &--blue {
      --highlight-color: #{$blue};
      --contrast-color: white;
    }

    &--green {
      --highlight-color: #{$green};
      --contrast-color: white;
    }

    &--cyan {
      --highlight-color: #{$cyan};
      --contrast-color: #{color-contrast($cyan)};
    }

    &--aloevera {
      --highlight-color: #{$aloevera};
      --contrast-color: #{color-contrast($aloevera)};
    }

    &--gray-light {
      --highlight-color: #{$gray-light};
      --contrast-color: #{color-contrast($gray-light)};
    }

    &__wrapper {
      height: 100%;
    }
  }

  &__content {
    &__wrapper {
      padding: 40px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  .navigation {
    &__dots {
      transform: translateY($grid-gutter-width * 2);
    }

    &__dot {
      background: $gray;

      &--active {
        width: $grid-gutter-width * 5;
      }
    }
  }

  &--teaser {
    overflow: hidden;
    position: relative;

    .slider {
      &__wrapper {
        overflow: visible;
      }

      &__dots {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .slide {
      width: 100%;
      flex-shrink: 0;
      overflow: hidden;

      *:not(.btn) {
        color: white;
      }

      &__wrapper {
        position: relative;
        height: 100%;
      }

      &__wrapper-inner {
        align-items: flex-start;
        align-content: flex-start;
        height: 100%;
      }

      &__content {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: $grid-gutter-width * 3;
        padding-bottom: $grid-gutter-width * 4.5;
      }

      &__meta {
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__image-wrapper {
        height: 100%;
        width: 100vw;
      }

      &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }

  &--tabs {
    width: calc(var(--current-containerwidth) - #{$grid-gutter-width});
    margin: 0;

    .navigation {
      &__dots {
        margin-left: -2.5px;
        padding: 0;
        transform: none;
      }
    }

    .slider {
      &__wrapper {
        overflow: visible;
      }
    }

    .slide {
      &__wrapper {
        height: 100%;
      }

      &__wrapper-inner {
        height: 100%;
      }

      &__image-wrapper {
        height: 100%;
        padding: $spacer * 3;
        display: flex;
        align-items: center;
        justify-content: center;

        &--cover {
          padding: 0;

          .slide {
            &__image {
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      &__content {
        padding: $spacer * 3;
      }
    }
  }

  &--divided {
    .slide {
      &__image-wrapper {
        height: 100%;
        background: $gray-light;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__image {
      &__wrapper {
        order: 2;
      }
    }

    &--teaser {
      .slide {
        &__wrapper-inner {
          align-items: stretch;
          align-content: stretch;
        }

        &__content {
          align-self: stretch;
          padding-top: $grid-gutter-width * 6;
          padding-bottom: $grid-gutter-width * 8;
        }
      }
    }
  }
}

@each $breakpointname, $breakpointsize in $grid-breakpoints {
  @include media-breakpoint-up('#{$breakpointname}') {
    .slider--teaser {
      .slide {
        &__content {
          + .slide__meta[class*='col-#{$breakpointname}-']:not(.col-#{$breakpointname}-12) {
            align-items: flex-start;
          }
        }

        &__meta[class*='col-#{$breakpointname}-']:not(.col-#{$breakpointname}-12) {
          order: 0;
          align-items: flex-end;

          .slide__image-wrapper {
            width: calc(100% + ((100vw - var(--current-containerwidth)) / 2) + #{$grid-gutter-width/2});
          }
        }
      }
    }
  }
}
