@import 'bootstrap/scss/nav.scss';

.tabs {
  &__navigation {
    margin-left: $grid-gutter-width / -4;
    margin-right: $grid-gutter-width / -4;
    margin-bottom: $grid-gutter-width;

    &__item {
      margin-left: $grid-gutter-width / 4;
      margin-right: $grid-gutter-width / 4;

      &:not(.active) {
        background: $gray-light;
      }
    }

    &__link {
      cursor: pointer;
      color: $body-color;
      font-size: $font-size-xxs;
    }
  }
}
