<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Tooltips | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <div class="canvas">
<a
  href="javascript:void(0)"
  class="btn btn--secondary"
  data-bs-toggle="tooltip"
  data-bs-placement="top"
  title="Tooltip on top"
>
  Tooltip on top
</a>

<a
  href="javascript:void(0)"
  class="btn btn--secondary"
  data-bs-toggle="tooltip"
  data-bs-placement="right"
  title="Tooltip on right"
>
  Tooltip on right
</a>

<a
  href="javascript:void(0)"
  class="btn btn--secondary"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="Tooltip on bottom"
>
  Tooltip on bottom
</a>

<a
  href="javascript:void(0)"
  class="btn btn--secondary"
  data-bs-toggle="tooltip"
  data-bs-placement="left"
  title="Tooltip on left"
>
  Tooltip on left
</a>

<script type="module" src="/dist/js/kampmann.umd.min.js"></script>
</div><!-- norender -->
<style>.canvas{ display: flex; align-items: center; justify-content: center; width: 100%; min-width: 280px; min-height: 150px; background-color: whitesmoke; border: 1px solid whitesmoke; margin-bottom: 1rem; flex-wrap: wrap; }
.btn { margin: 5px 5px; } </style>
 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
