@import "bootstrap/scss/transitions.scss";
@import "bootstrap/scss/accordion.scss";

.accordion {
  &-item {
    margin: 16px 0;
    border-radius: $border-radius;
    font-size: $font-size-lg;
    color: $primary;

    &:nth-child(n) {
      border: 1px solid $gray-dark;
    }
  }

  &-button {
    border-radius: $border-radius;
    color: $primary;

    &:not(.collapsed) {
      background-color: transparent;
      box-shadow: none;
      color: $green;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &-header {
    margin-top: 0;
  }

  &-body {
    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}
