@import 'bootstrap/scss/alert.scss';

.alert {
  &-primary {
    color: $primary-supportive;
    border-color: $primary;
  }

  &-success {
    color: white;
    border-color: $success;
  }

  &-info {
    color: $white;
    border-color: $info;
  }

  &-warning {
    color: $warning-supportive;
    border-color: $warning;
  }

  &-danger {
    color: $danger-supportive;
    border-color: $danger;
  }
}
