@import "bootstrap/scss/mixins.scss";
@import "bootstrap/scss/pagination.scss";

.pagination {
  & .page-item {
    & .page-link {
      color: $body-color;
    }
    &.active .page-link {
      color: $white;
      background-color: $body-color;
      border-color: $body-color;
    }
  }

  &--primary {
    & .page-item {
      & .page-link {
        color: $primary;
      }
      &.active .page-link {
        color: $white;
        background-color: $primary;
        border-color: $primary;
      }
    }
  }

  &--green {
    & .page-item {
      & .page-link {
        color: $green;
      }
      &.active .page-link {
        color: $white;
        background-color: $green;
        border-color: $green;
      }
    }
  }

  &--teal {
    & .page-item {
      & .page-link {
        color: $teal;
      }
      &.active .page-link {
        color: $white;
        background-color: $teal;
        border-color: $teal;
      }
    }
  }

  &--aloevera {
    & .page-item {
      & .page-link {
        color: $aloevera;
      }
      &.active .page-link {
        color: $white;
        background-color: $aloevera;
        border-color: $aloevera;
      }
    }
  }

  & .page-item {
    &.disabled .page-link {
      color: $gray;
    }
  }
}
