.sm {
  .person & {
    margin-top: 42px;
    margin-bottom: 0;
  }

  .person__meta & {
    filter: brightness(0) invert(1);
  }

  &__item {
    transition: 0.3s;
    
    &:hover {
      transform: scale(1.2);
    }
  }
}
