.status {
  margin: -3px;

  &__item {
    --status-color: #{$green};

    &--good {
      --status-color: #{$green};
    }
    &--neutral {
      --status-color: #{$yellow};
    }
    &--bad {
      --status-color: #{$red};
    }

    border: 2px solid var(--status-color);
    border-radius: 100%;
    width: 16px;
    height: 16px;
    display: block;
    margin: 3px;

    &--checked {
      background: var(--status-color);
    }
  }
}
