@import 'bootstrap/scss/tables.scss';

.table {
  width: 100%;
  text-align: left;

  &__row {
    order: var(--order, 0);

    &:nth-child(2n) {
      background: $gray-medium;
    }
  }

  &__head {
    font-size: $font-size-base;
    padding: $grid-gutter-width 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: $letter-spacing;
    border-bottom: 1px solid $primary !important;

    &__wrapper {
      display: flex;
    }

    &--primary {
      color: $secondary;
      background: $primary !important;
    }

    &--secondary {
      color: $body-color;
      background: $secondary !important;
    }
  }

  &__sort {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-bottom: -10px;

    &__item {
      display: flex;
      height: 20px;
      width: 30px;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      padding-top: 10px;

      &:hover,
      &--active,
      [aria-sort='ascending'] &--asc,
      [aria-sort='descending'] &--desc {
        color: $green;
      }

      &--desc {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    padding: $grid-gutter-width 1rem;
    color: $primary;
  }
}

@include media-breakpoint-down(md) {
  .table {
    &__row {
      display: flex;
      flex-wrap: wrap;
      background: $gray-medium;

      &--header {
        display: none;
      }

      & > .table__head:first-child {
        display: none;
      }

      & > .table__content:first-of-type {
        background-color: $primary;
        color: $secondary;
      }

      & > .table__head,
      & > .table__head--primary {
        color: $body-color;
        background-color: transparent;
      }
    }

    &__head {
      width: 200px;
      flex-grow: 1;
      padding: $grid-gutter-width / 2;
    }

    &__sort {
      display: none;
    }

    &__content {
      width: 100%;
      min-width: 200px;
      padding: $grid-gutter-width / 2;
      background-color: $secondary;
    }
  }
}
