@import 'bootstrap/scss/transitions.scss';
@import 'bootstrap/scss/nav.scss';

.tab {
  &-pane {
    padding: 24px;
  }

  &-content {
    border: 1px solid $gray-dark;
    border-radius: 0 $border-radius $border-radius $border-radius;
    font-size: $font-size-lg;
    color: $primary;

    & .tab-pane {
      & > *:first-child {
        margin-top: 0;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.tabs-container {
  --nav-height: 45px;
  position: relative;

  &--scrollable {
    .tabs {
      &__navigation {
        content: '>';
        position: absolute;
        display: block;
        cursor: pointer;
        z-index: 10;
        top: 0;
        right: 20px;
        width: 40px;
        height: var(--nav-height);
        background-repeat: no-repeat;
        background-position: center right;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='15' viewBox='0 0 8 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.137.777a.469.469 0 01.59-.723L.8.114l6.7 6.7a.937.937 0 01.081 1.233L7.5 8.14l-6.7 6.7a.469.469 0 01-.723-.59l.06-.073 6.7-6.7-6.7-6.7z' fill='%230E2249' fill-rule='nonzero'/%3E%3C/svg%3E%0A"),
          linear-gradient(to right, rgba(255, 255, 255, 0.0001) 0, rgba(255, 255, 255, 1) 80%);
      }
    }
  }
}

.tabs {
  &__navigation {
    display: none;
  }
}

.nav-tabs {
  border-bottom: none;
  flex-wrap: nowrap;
  overflow: auto;
  margin-right: 20px;
  margin-bottom: -1px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .tabs-container--scrollable &{
    .nav-item {
      &:last-child {
        padding-right: 30px;
      }
    }
  }

  .nav-link {
    padding: 16px 24px;
    border-left: 1px solid $gray-dark;
    border-top: 1px solid $gray-dark;
    border-right: 1px solid $gray-dark;
    border-bottom: none;
    border-radius: $border-radius $border-radius 0 0;
    border-color: transparent;
    white-space: nowrap;
    margin-bottom: -1px;
    cursor: pointer;

    &:hover {
      border-color: $gray-light;
    }

    &.active {
      border-color: $gray-dark;
      color: $green;
    }
  }
}
