<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Hero | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <div class="hero__wrapper bg-cyan">
  <div class="container">
    <div class="hero row">
      <div class="hero__main col-12 col-md-7">
        <div class="hero__main__wrapper">
          <h6>Seminar (Grundlagen)</h6>
          <h1>Kühldecken -<br />Grundlagen und Auslegung</h1>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
          <div class="row">
            <div class="col-auto">
            <a href="javascript:void(0)" class="btn btn--secondary">Jetzt buchen</a></div>
            <div class="col-auto">
            <a href="javascript:void(0)" class="btn btn--outline-secondary"
              >Weiterleiten<img
                src="data:image/svg+xml,%3csvg width='17px' height='16px' viewBox='0 0 17 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3e%3cg id='Kampus-/-Eventseite' transform='translate(-587.000000%2c -502.000000)' stroke='white'%3e%3cg id='Icon-Share' transform='translate(588.115385%2c 503.000000)'%3e%3ccircle id='Oval' cx='2.69230769' cy='6.46153846' r='2.69230769'%3e%3c/circle%3e%3ccircle id='Oval' cx='12.3846154' cy='2.69230769' r='2.69230769'%3e%3c/circle%3e%3ccircle id='Oval' cx='12.3846154' cy='11.3076923' r='2.69230769'%3e%3c/circle%3e%3cline x1='5.20225641' y1='5.48584615' x2='9.87466667' y2='3.66871795' id='Path'%3e%3c/line%3e%3cline x1='5.10102564' y1='7.66625641' x2='9.97589744' y2='10.1036923' id='Path'%3e%3c/line%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e"
            /></a></div>
          </div>
        </div>
      </div>
      <div class="hero__meta bg-gray-light col-12 col-md-4 ml-auto">
        <div class="hero__meta__wrapper">
          <div class="details details--location">
            <div class="details__wrapper"><strong>Veltins-Arena</strong><br />Rudi-Assauer-Platz 1 | Gelsenkirchen</div>
          </div>
          <div class="details details--date">
            <div class="details__wrapper"><strong>Termin</strong><br />13.10.2022 | 09:00 - 16:30 Uhr</div>
          </div>
          <div class="details details--pricing">
            <div class="details__wrapper"><strong>Teilnahmegebühr</strong><br />289,00 € pro Person | zzgl. MwSt.</div>
          </div>
          <div class="details details--service">
            <div class="details__wrapper">
              <strong>Inklusivleistungen</strong><br />Getränke & Speisen, Seminar- unterlagen, Teilnehmerzertifikat
            </div>
          </div>
          <div class="details details--appreciation">
            <div class="details__wrapper"><strong>Anerkennung</strong> durch DENA</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
