---
title: Checkbox Horizontal
styles: assets/_scss/components/_form.scss
script: /src/assets/js/form.js
maturity: draft
inlinestyles: '<style>.form{padding-top:30px;}</style>'
---

<div class="form">
  <div class="formelement__wrapper formelement__wrapper--horizontal">
    <div class="formelement formelement--checkbox">
      <input id="checkbox" class="formelement__option" type="checkbox" />
      <label for="checkbox" class="formelement__label formelement__label--checkbox">
        <svg
          version="1.1"
          class="formelement__option__check"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 34 34"
          xml:space="preserve"
        >
          <polyline
            style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
            points="6,17.7 12.9,24.5 
            28,9.5 "
          /></svg
        >Label 1</label
      >
    </div>
    <div class="formelement formelement--checkbox">
      <input id="checkbox2" class="formelement__option" type="checkbox" />
      <label for="checkbox2" class="formelement__label formelement__label--checkbox">
        <svg
          version="1.1"
          class="formelement__option__check"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 34 34"
          xml:space="preserve"
        >
          <polyline
            style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
            points="6,17.7 12.9,24.5 
            28,9.5 "
          /></svg
        >Label 2</label
      >
    </div>
  </div>
</div>

<script src="{{ page.script }}"></script>

{{ page.inlinestyles }}
