<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Checkbox | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <div class="form">
  <div class="formelement__wrapper">
    <div class="formelement formelement--checkbox">
      <input id="checkbox" class="formelement__option" type="checkbox" />
      <label for="checkbox" class="formelement__label formelement__label--checkbox">
        <svg
          version="1.1"
          class="formelement__option__check"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 34 34"
          xml:space="preserve"
        >
          <polyline
            style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
            points="6,17.7 12.9,24.5 
            28,9.5 "
          /></svg
        >Label 1</label
      >
    </div>
    <div class="formelement formelement--checkbox">
      <input id="checkbox2" class="formelement__option" type="checkbox" />
      <label for="checkbox2" class="formelement__label formelement__label--checkbox">
        <svg
          version="1.1"
          class="formelement__option__check"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 34 34"
          xml:space="preserve"
        >
          <polyline
            style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
            points="6,17.7 12.9,24.5 
            28,9.5 "
          /></svg
        >Label 2</label
      >
    </div>
  </div>
</div>

<script src="/src/assets/js/form.js"></script>

<style>.form{padding-top:30px;}</style>
 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
