<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Text | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <div class="form">
  <div class="formelement__wrapper">
    <input id="input" class="formelement formelement--input" type="text" placeholder="Placeholder">
    <label for="input" class="formelement__label">Label</label>
  </div>
</div>

<script type="module" src="/dist/js/kampmann.umd.min.js"></script>

<style>.form{padding-top:30px;}</style> 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
