---
title: Multiselect
styles: assets/_scss/components/_form.scss
script: /src/assets/js/form.js
maturity: ready
inlinestyles: '<style>.form{padding-top:30px;} .formelement__wrapper + .formelement__wrapper{margin-top:60px}</style>'
---

<div class="form">
  <div class="formelement__wrapper formelement__wrapper--select">
    <input class="formelement__value" type="hidden" />
    <div
      id="select"
      class="formelement formelement--select formelement--select-multi formelement--placeholder"
      type="text"
      placeholder="Placeholder"
    >
      <div class="formelement__selected">
        <div class="formelement__option formelement__option--selected formelement__option--placeholder">
          Placeholder
        </div>
      </div>
      <div class="formelement__options">
        <div class="formelement__option" data-value="os">
          <span class="formelement__option__text">Osnabrück</span>
          <svg
            version="1.1"
            class="formelement__option__check"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 34 34"
            xml:space="preserve"
          >
            <polyline
              style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
              points="6,17.7 12.9,24.5 
            28,9.5 "
            />
          </svg>
        </div>
        <div class="formelement__option" data-value="ms">
          <span class="formelement__option__text">Münster</span>
          <svg
            version="1.1"
            class="formelement__option__check"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 34 34"
            xml:space="preserve"
          >
            <polyline
              style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
              points="6,17.7 12.9,24.5 
            28,9.5 "
            />
          </svg>
        </div>
        <div class="formelement__option" data-value="bf">
          <span class="formelement__option__text">Bielefeld</span>
          <svg
            version="1.1"
            class="formelement__option__check"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 34 34"
            xml:space="preserve"
          >
            <polyline
              style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
              points="6,17.7 12.9,24.5 
            28,9.5 "
            />
          </svg>
        </div>
        <div class="formelement__option" data-value="dt">
          <span class="formelement__option__text">Dortmund</span>
          <svg
            version="1.1"
            class="formelement__option__check"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 34 34"
            xml:space="preserve"
          >
            <polyline
              style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
              points="6,17.7 12.9,24.5 
            28,9.5 "
            />
          </svg>
        </div>
        <div class="formelement__option" data-value="b">
          <span class="formelement__option__text">Berlin</span>
          <svg
            version="1.1"
            class="formelement__option__check"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 34 34"
            xml:space="preserve"
          >
            <polyline
              style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
              points="6,17.7 12.9,24.5 
            28,9.5 "
            />
          </svg>
        </div>
        <div class="formelement__option" data-value="m">
          <span class="formelement__option__text">München</span>
          <svg
            version="1.1"
            class="formelement__option__check"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 34 34"
            xml:space="preserve"
          >
            <polyline
              style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
              points="6,17.7 12.9,24.5 
            28,9.5 "
            />
          </svg>
        </div>
        <div class="formelement__option" data-value="f">
          <span class="formelement__option__text">Frankfurt</span>
          <svg
            version="1.1"
            class="formelement__option__check"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 34 34"
            xml:space="preserve"
          >
            <polyline
              style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round"
              points="6,17.7 12.9,24.5 
            28,9.5 "
            />
          </svg>
        </div>
      </div>
    </div>

    <label for="select" class="formelement__label">City</label>
  </div>
</div>

<script src="{{ page.script }}"></script>

{{ page.inlinestyles }}
