<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Radio Horizontal | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <div class="form">
  <div class="formelement__wrapper formelement__wrapper--horizontal">
    <div class="formelement formelement--radio">
      <input id="radio_0" name="radio" class="formelement__option" type="radio" />
      <label for="radio_0" class="formelement__label formelement__label--radio">Label 1</label>
    </div>
    <div class="formelement formelement--radio">
      <input id="radio_1" name="radio" class="formelement__option" type="radio" />
      <label for="radio_1" class="formelement__label formelement__label--radio">Label 2</label>
    </div>
    <div class="formelement formelement--radio">
      <input id="radio_2" name="radio" class="formelement__option" type="radio" />
      <label for="radio_2" class="formelement__label formelement__label--radio">Label 3</label>
    </div>
  </div>
</div>

<script src="/src/assets/js/form.js"></script>

<style>.form{padding-top:30px;}</style>
 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
