<footer class="footer">
  <div class="footer__wrapper">
    <section class="footer__section footer__section--contact">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <a class="link image image--brand" href="javascript:void(0)"><img class="image__file" src="/styleguide/styleguide/branding/kampmann-wort-bild-marke-light.svg"/></a>
        
          <ul class="social-media">
            <li class="social-media__element social-media__element--youtube"><a class="link image--social-media" href="javascript:void(0)"><img class="image__file" src="/styleguide/src/assets/images/icons/kampmann-social-media-youtube.svg"/></a></li>
            <li class="social-media__element social-media__element--instagram"><a class="link image--social-media" href="javascript:void(0)"><img class="image__file" src="/styleguide/src/assets/images/icons/kampmann-social-media-instagram.svg"/></a></li>
            <li class="social-media__element social-media__element--linkedin"><a class="link image--social-media" href="javascript:void(0)"><img class="image__file" src="/styleguide/src/assets/images/icons/kampmann-social-media-linkedin.svg"/></a></li>
            <li class="social-media__element social-media__element--xing"><a class="link image--social-media" href="javascript:void(0)"><img class="image__file" src="/styleguide/src/assets/images/icons/kampmann-social-media-xing.svg"/></a></li>
            <li class="social-media__element social-media__element--facebook"><a class="link image--social-media" href="javascript:void(0)"><img class="image__file" src="/styleguide/src/assets/images/icons/kampmann-social-media-facebook.svg"/></a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="footer__section footer__section--sitemap">
      <div class="container">
        <div class="sitemap row">
          <div class="sitemap__element col-12 col-lg-6">
            <h3 class="headline headline--h3">Produkte</h3>
            <ul class="link-list" style="--columns:2;">
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Unterflurkonvektoren</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Lufterhitzer</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Fan Coils</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">RLT-Geräte</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Luftdurchlässe</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Luftschleier</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Konvektoren</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Dezenrale Lüftungsgeräte</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kaltwassererzeuger/ Wärmepumpen</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Deckenstrahlplatten</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kühlbalken</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kühldeckensysteme</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Schwerkraftkühlung</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Klappen/Regler</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Design Roste</a></li>
            </ul>
          </div>

          <div class="sitemap__element col-12 col-lg-6">
            <h3 class="headline headline--h3">Einsatzbereiche</h3>
            <ul class="link-list" style="--columns:2;">
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Bürogebäude</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Gewerbe- und Industriegebäude</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Hotel und Serviced Apartment</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Handelskette und Verkäufsgebäude</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Multifunktions- und Sporthalle</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kita und Schule</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Bahnhof und Flughafen</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Großküchen</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Medizin</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Historische Gebäude</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Spa und Bad</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Wohnraum</a></li>
            </ul>
          </div>

          <div class="sitemap__element col-12 col-md-6">
            <h3 class="headline headline--h3">Unternehmen</h3>
            <ul class="link-list">
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Unterflurkonvektoren</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Lufterhitzer</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Fan Coils</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">RLT-Geräte</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Luftdurchlässe</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Luftschleier</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Konvektoren</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kaltwassererzeuger/Wärmepumpen</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Deckenstrahlplatten</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kühlbalken</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kühldeckensysteme</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Schwerkraftkühlung</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Klappen/Regler</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Design Roste</a></li>
            </ul>
          </div>

          <div class="sitemap__element col-12 col-md-6">
            <h3 class="headline headline--h3">Services</h3>
            <ul class="link-list">
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Unterflurkonvektoren</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Lufterhitzer</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Fan Coils</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">RLT-Geräte</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Luftdurchlässe</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Luftschleier</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Konvektoren</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kaltwassererzeuger/Wärmepumpen</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Deckenstrahlplatten</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kühlbalken</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Kühldeckensysteme</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Schwerkraftkühlung</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Klappen/Regler</a></li>
              <li class="link-list__element"><a class="link-list__link link" href="javascript:void(0)">Design Roste</a></li>
            </ul>
          </div>
        </div>

        <div class="cta cta--contact">

        </div>
        <div class="form form--newsletter">

        </div>
      </div>
    </section>

    <section class="footer__section footer__section--juristic">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <nav class="navigation navigation--footer">
            <ul class="navigation__wrapper">
              <li class="navigation__element"><a class="navigation__link link link--uppercase" href="javascript:void(0)">Impressum</a></li>
              <li class="navigation__element"><a class="navigation__link link link--uppercase" href="javascript:void(0)">AGB</a></li>
              <li class="navigation__element"><a class="navigation__link link link--uppercase" href="javascript:void(0)">Allgemeine Einkaufbedingungen</a></li>
              <li class="navigation__element"><a class="navigation__link link link--uppercase" href="javascript:void(0)">Datenschutz</a></li>
              <li class="navigation__element"><a class="navigation__link link link--uppercase" href="javascript:void(0)">Cookies</a></li>
              <li class="navigation__element"><a class="navigation__link link link--uppercase" href="javascript:void(0)">Verbraucherschlichtung</a></li>
              <li class="navigation__element"><a class="navigation__link link link--uppercase" href="javascript:void(0)">Modern slavery statement</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </div>
</footer>