<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>
      Icon Pagination | 
    </title>
    <meta
      name="description"
      content="DESCRIPTION"
    />
    <meta name="author" content="AUTHOR NAME" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/_includes/assets/images/icon.ico"
    />
    
    <link rel="stylesheet" href="/src/compiled/assets/css/style.css" media="screen" />
    
  </head>
  <body id="content">
    <div class="canvas">
  <nav aria-label="Durch (Content) navigieren">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </nav>

  <nav aria-label="Durch (Content) navigieren">
    <ul class="pagination pagination--primary">
      <li class="page-item">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </nav>

  <nav aria-label="Durch (Content) navigieren">
    <ul class="pagination pagination--green">
      <li class="page-item">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </nav>

  <nav aria-label="Durch (Content) navigieren">
    <ul class="pagination pagination--teal">
      <li class="page-item">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </nav>

  <nav aria-label="Durch (Content) navigieren">
    <ul class="pagination pagination--aloevera">
      <li class="page-item">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>
<!-- norender -->
<style>.canvas{ display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; min-width: 200px; background-color: whitesmoke; border: 1px solid whitesmoke; margin-bottom: 1rem; } </style>
 
    <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script
      src="/styleguide/js/libs/iframeResizer.contentWindow.min.js"
      defer
    ></script>
  </body>
</html>
