<div class="news container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="news__item card card--news card--teal">
        <img src="/src/compiled/assets/images/pictures/kampmann-industrial-design.png" class="card-img-top" alt="..." />
        <div class="card__body card-body">
          <div class="card__data">
            <p class="card__data__item label tag">21.09.2021</p>
            <p class="card__data__item label tag">News</p>
          </div>
          <h3 class="news__title card-title headline headline--h3">Der neue Luftreiniger KA-520 wirkt!</h3>
          <p class="card-text">
            Der Bedarf an Luftreinigern steigt und damit die Nachfrage nach Sicherheit. Ziel ist es die
            Ansteckungsgefahr in sämtlichen Lebens- und Arbeitsbereichen zu minimieren. Und hier steht noch mehr
            längerer Text, damit diese Box länger wird und Wir sehen können wie sich das Bild verändert.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="news__item card card--news card--gray-light">
        <img src="/src/compiled/assets/images/pictures/kampmann-industrial-design.png" class="card-img-top" alt="..." />
        <div class="card__body card-body">
          <div class="card__data">
            <p class="card__data__item label tag">21.09.2021</p>
            <p class="card__data__item label tag">Reportage</p>
          </div>
          <h3 class="news__title card-title headline headline--h3">Genaues Klima für präzise Maschinen!</h3>
          <p class="card-text">
            Man sieht sie schon von weitem. Auf dem Dach der Industriehallen des Werkzeug-maschinenherstellers Gildemeister in Bielefeld stehen sehr große Lüftungsanlagen. 
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="news__item card card--news card--green">
        <img src="/src/compiled/assets/images/pictures/kampmann-industrial-design.png" class="card-img-top" alt="..." />
        <div class="card__body card-body">
          <div class="card__data">
            <p class="card__data__item label tag">21.09.2021</p>
            <p class="card__data__item label tag">News</p>
          </div>
          <h3 class="news__title card-title headline headline--h3">Ein Abschied nach über 40 Jahren.</h3>
          <p class="card-text">
            Nach fast 41 Jahren Betriebszugehörigkeit verabschiedet sich Hermann Ensink als Leiter Innovation & Technik in den wohlverdienten Ruhestand. Ein ausgewiesener Experte im Bereich Heizungs- Lüftungs- und Klimatechnik, der mit zahlreichen Produktentwicklungen vieles bewegt hat und dabei immer den Markt und technische Trends im Blick hatte. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/dist/js/kampmann.umd.min.js"></script>
