<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="headline headline--h2">Unsere Produkte</h2>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card card--product">
        <div class="card__slider swiper">
          <div class="card__images swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="/src/compiled/assets/images/pictures/kampmann-unterflurkonvektor-katherm-qk-nano-space.png"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="swiper-slide">
              <img src="/src/compiled/assets/images/pictures/produkt-katherm-qk.png" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="card__slider__control card__slider__control--prev swiper-button-prev">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg" />
          </div>
          <div class="card__slider__control card__slider__control--next swiper-button-next">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg" />
          </div>
        </div>
        <div class="card-title card__title">
          <h3 class="headline headline--h3">Katherm QK / Katherm HK / Katherm XY</h3>
        </div>

        <div class="card__body card-body">
          <div class="card__tabs tabs">
            <div class="tabs__content tab-content" id="myTabContent">
              <div class="tabs__content__item tab-pane fade show active" id="katherm-qk-facts">
                <p class="text text--large mt-0">Hier steht ein kurzer Teasertext für diese Card vor der Liste.</p>
                <ul class="list list--unordered list__level-0">
                  <li class="list__item">
                    <span class="list__item-content"
                      >Reaktionsschnell mit marktführend leiser EC-Querstromventilation</span
                    >
                  </li>
                  <li class="list__item"><span class="list__item-content">Kleinste Abmessungen</span></li>
                </ul>
              </div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-data">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
              </div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-measurements">
                <p>
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                  sanctus est Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
          </div>

          <div class="card__links">
            <a href="javascript:void(0)" class="btn btn--primary d-block">Berechnen</a>
            <a href="javascript:void(0)" class="btn btn--outline-primary d-block">Produkt&shy;details</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card card--product">
        <div class="card__slider swiper">
          <div class="card__images swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="/src/compiled/assets/images/pictures/kampmann-unterflurkonvektor-katherm-qk-nano-space.png"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="swiper-slide">
              <img src="/src/compiled/assets/images/pictures/produkt-katherm-qk.png" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="card__slider__control card__slider__control--prev swiper-button-prev">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg" />
          </div>
          <div class="card__slider__control card__slider__control--next swiper-button-next">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg" />
          </div>
        </div>
        <div class="card-title card__title">
          <h3 class="headline headline--h3">Katherm QK / Katherm HK / Katherm XY</h3>
        </div>

        <div class="card__body card-body">
          <div class="card__tabs tabs">
            <div class="tabs__content tab-content" id="myTabContent">
              <div class="tabs__content__item tab-pane fade show active" id="katherm-qk-facts">
                <p class="text text--large mt-0">Hier steht ein kurzer Teasertext für diese Card vor der Liste.</p>
                <ul class="list list--unordered list__level-0">
                  <li class="list__item">
                    <span class="list__item-content"
                      >Reaktionsschnell mit marktführend leiser EC-Querstromventilation</span
                    >
                  </li>
                  <li class="list__item"><span class="list__item-content">Kleinste Abmessungen</span></li>
                </ul>
              </div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-data">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
              </div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-measurements">
                <p>
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                  sanctus est Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
          </div>

          <div class="card__links">
            <a href="javascript:void(0)" class="btn btn--primary d-block">Berechnen</a>
            <a href="javascript:void(0)" class="btn btn--outline-primary d-block">Produkt&shy;details</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card card--product">
        <div class="card__slider swiper">
          <div class="card__images swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="/src/compiled/assets/images/pictures/kampmann-unterflurkonvektor-katherm-qk-nano-space.png"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="swiper-slide">
              <img src="/src/compiled/assets/images/pictures/produkt-katherm-qk.png" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="card__slider__control card__slider__control--prev swiper-button-prev">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg" />
          </div>
          <div class="card__slider__control card__slider__control--next swiper-button-next">
            <img src="/src/compiled/assets/images/graphics/arrow-right.svg" />
          </div>
        </div>
        <div class="card-title card__title">
          <h3 class="headline headline--h3">Katherm QK / Katherm HK / Katherm XY</h3>
        </div>

        <div class="card__body card-body">
          <div class="card__tabs tabs">
            <div class="tabs__content tab-content" id="myTabContent">
              <div class="tabs__content__item tab-pane fade show active" id="katherm-qk-facts">
                <p class="text text--large mt-0">Hier steht ein kurzer Teasertext für diese Card vor der Liste.</p>
                <ul class="list list--unordered list__level-0">
                  <li class="list__item">
                    <span class="list__item-content"
                      >Reaktionsschnell mit marktführend leiser EC-Querstromventilation</span
                    >
                  </li>
                  <li class="list__item"><span class="list__item-content">Kleinste Abmessungen</span></li>
                </ul>
              </div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-data">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
              </div>
              <div class="tabs__content__item tab-pane fade" id="katherm-qk-measurements">
                <p>
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                  sanctus est Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
          </div>

          <div class="card__links">
            <a href="javascript:void(0)" class="btn btn--primary d-block">Berechnen</a>
            <a href="javascript:void(0)" class="btn btn--outline-primary d-block">Produkt&shy;details</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <script type="module" src="/dist/js/kampmann.umd.min.js"></script>
</div>
