---
title: Fließtext
styles: assets/_scss/base/_text.scss
maturity: ready
---
<p><strong>Text: 16px</strong></p>
<p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

<hr/>

<p><strong>Text Extra-Small: 12px (.75rem)</strong></p>
<p class="text text--extra-small">The quick brown fox jumps over the lazy dog</p>
<br/>
<p><strong>Text Small: 13px (.8125rem)</strong></p>
<p class="text text--small">The quick brown fox jumps over the lazy dog</p>
<br/>
<p><strong>Text Large: 18px (1.125rem)</strong></p>
<p class="text text--large">The quick brown fox jumps over the lazy dog</p>  