@keyframes point{
  0%{
    transform:translateX(0);
  }
  25%{
    transform:translateX(3px);
  }
  75%{
    transform:translateX(-3px);
  }
  0%{
    transform:translateX(0);
  }
}

@keyframes pointY{
  0%{
    transform:translateY(0);
  }
  25%{
    transform:translateY(3px);
  }
  75%{
    transform:translateY(-3px);
  }
  0%{
    transform:translateY(0);
  }
}