///// Font Imports /////

// Sans Serif
@font-face {
  font-family: 'Circular';
  src: url('../fonts/circular/CircularXXWeb-Book.woff2') format('woff2'), url('../fonts/circular/CircularXXWeb-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('../fonts/circular/CircularXXWeb-Black.woff2') format('woff2'), url('../fonts/circular/CircularXXWeb-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}