/**
  * Colors
  */
// Basic colors
$white: #ffffff;
$black: #000000;
$gray: #cecece;
$gray-dark: #d7d5cd;
$gray-medium: #f0efec;
$gray-light: #f1f0ee;
$gray-beige-light: #f2f2f0;

// Primary colors
$blue: #0e2249;
$green: #95c11f;

// Accent colors
$teal: #008f8c;
$aloevera: #79c08b;
$cyan: #58c7da;

// Signal colors
$yellow: #ffc107;
$red: #dc3545;

// Colors as CSS custom properties
:root {
  --color-black: hsla(0, 0%, 0%, 1);
  --color-white: hsla(0, 0%, 100%, 1);

  --color-blue: hsla(220, 68%, 17%, 1);
  --color-green: hsla(76, 72%, 44%, 1);

  --color-teal: hsla(179, 100%, 28%, 1);
  --color-aloevera: hsla(135, 36%, 61%, 1);
  --color-cyan: hsla(189, 64%, 60%, 1);

  --color-yellow: hsla(45, 100%, 51%, 1);
  --color-red: hsla(354, 70%, 54%, 1);
}

/** 
  * Darkened Colors (lower lightness value in hsl)
  */
$green-dark: hsl(76, 72%, 30%);
$teal-dark: hsl(179, 100%, 16%);
$cyan-dark: hsl(189, 64%, 30%);
$yellow-dark: hsl(45, 100%, 20%);

$primary: $blue;
$secondary: $white;
$light: $white;
$dark: $blue;
$success: $green;
$info: $teal;
$warning: $yellow;
$danger: $red;

$primary-supportive: $white;
$success-supportive: $green-dark;
$info-supportive: $teal-dark;
$warning-supportive: $yellow-dark;
$danger-supportive: $white;

$body-color: #8a8882;

$color-contrast-dark: $dark;
$color-contrast-light: $light;
$min-contrast-ratio: 1.25;

$colors: (
  'blue': $blue,
  'green': $green,
  'teal': $teal,
  'cyan': $cyan,
  'aloevera': $aloevera,
  'white': $white,
  'gray': $gray,
  'gray-dark': $gray-dark,
  'gray-medium': $gray-medium,
  'gray-light': $gray-light,
  'gray-beige-light': $gray-beige-light,
);

$alert-bg-scale: 0;
$alert-color-scale: 0;

/**
  * Font families and sizes
  */

$font-family-sans-serif: 'Circular', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji',
  sans-serif;
$font-family-base: $font-family-sans-serif;

$line-height-base: 1.5;

$font-size-root: 16px;
$font-size-base: 0.875rem;
$font-size-xxs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.8125rem;
$font-size-lg: 1rem;
$font-size-xl: 1.125rem;

$h1-font-size: 3rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.625rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.75rem;

$enable-rfs: false;
$headings-font-weight: 700;
$headings-line-height: 1.25;
$headings-margin-bottom: 1em;
$headings-color: $primary;

$font-sizes: (
  bs: $font-size-base,
  xs: $font-size-xs,
  xxs: $font-size-xxs,
  sm: $font-size-sm,
  lg: $font-size-lg,
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
);

/**
  * Spaces, grid sizes, border radius & breakpoints
  */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px,
  xxl: 1160px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1220px,
  xxl: 1400px,
);

$grid-columns: 12;
$grid-gutter-width: 20px;

$input-btn-padding-y: 0.9375rem;
$input-btn-padding-x: 1.25rem;

$btn-padding-y: 1rem;
$btn-padding-x: 2.875rem;

$border-width: 1px;
$border-radius: 10px;
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-lg: 12px;
$border-radius-full: 1em;

/**
  * Tooltip settings
  */
$spacer: 1rem;
$tooltip-font-size: $font-size-sm;
$tooltip-max-width: 200px;
$tooltip-color: $white;
$tooltip-bg: $black;
$tooltip-border-radius: $border-radius;
$tooltip-opacity: 0.9;
$tooltip-padding-y: $spacer * 0.25;
$tooltip-padding-x: $spacer * 0.5;
$tooltip-margin: 0;

$tooltip-arrow-width: 0.8rem;
$tooltip-arrow-height: 0.4rem;
$tooltip-arrow-color: $tooltip-bg;

$nav-link-padding-y: 0.3125rem;
$nav-link-padding-x: 0.28rem;
$nav-pills-border-radius: 4px;
$nav-pills-link-active-bg: $teal;
