
// Colors

$white:             #FFFFFF;
$black:             #000000;

$blue:              #0E2249;
$green:             #95C11F;
$teal:              #008F8C;
$aloevera:          #79C08B;
$cyan:              #58C7DA;
$gray:              #CECECE;
$gray-dark:         #D7D5CD;
$gray-medium:       #F0EFEC;
$gray-light:        #F1F0Fe;

$primary:           $blue;
$secondary:         $white;
$light:             $white;
$dark:              $blue;

$body-color:        #8A8882;

$color-contrast-dark:      $dark;
$color-contrast-light:     $light;

$colors: (
  "blue":       $blue,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "aloevera":   $aloevera,
  "white":      $white,
  "gray":       $gray,
  "gray-dark":  $gray-dark,
  "gray-medium":$gray-medium,
  "gray-light": $gray-light,
);


// Font

$font-family-sans-serif:  'Circular', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
$font-family-base:        $font-family-sans-serif;

$line-height-base:  1.5;

$font-size-root:    16px;
$font-size-base:    .875rem;
$font-size-xs:      .75rem;
$font-size-sm:      .8125rem;
$font-size-lg:      1rem;
$font-size-xl:      1.125rem;

$h1-font-size:      3rem;
$h2-font-size:      2.25rem;
$h3-font-size:      1.625rem;
$h4-font-size:      1.125rem;
$h5-font-size:      1rem;
$h6-font-size:      .75rem;

$enable-rfs:                  false;
$headings-font-weight:        700;
$headings-line-height:        1.25;
$headings-margin-bottom:      1em;
$headings-color:              $primary;

$font-sizes: (
  bs: $font-size-base,
  xs: $font-size-xs,
  sm: $font-size-sm,
  lg: $font-size-lg,
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);


// Spaces

$container-max-widths: (
  sm:               540px,
  md:               720px,
  lg:               960px,
  xl:               1160px,
  xxl:              1160px
);

$grid-breakpoints: (
  xs:               0,
  sm:               576px,
  md:               768px,
  lg:               992px,
  xl:               1220px,
  xxl:              1400px
);

$grid-columns:      12;
$grid-gutter-width: 20px;

$input-btn-padding-y: .9375rem;
$input-btn-padding-x: 1.25rem;

$btn-padding-y:       1rem;
$btn-padding-x:       2.875rem;

$border-width:      1px;
$border-radius:     10px;
$border-radius-sm:  8px;
$border-radius-lg:  12px;
