---
title: Primary Table
styles: assets/_scss/components/_data-table.scss
script: /src/assets/js/data-table.js
maturity: draft
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<table id="table_id" class="display">
  <thead class="datatable__header">
    <tr>
      <th class="datatable__headline">Titel</th>
      <th class="datatable__headline">Typ</th>
      <th class="datatable__headline">Sprache</th>
      <th class="datatable__headline">Dateityp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1-Stufen-Drehschalter, Typ 30049</td>
      <td>Montageanleitung</td>
      <td>Deutsch</td>
      <td>PDF (142 kB)</td>
    </tr>
    <tr>
      <td>2-Stufen-Drehschalter, Typ 30049</td>
      <td>Montageanleitung</td>
      <td>Deutsch</td>
      <td>PDF (142 kB)</td>
    </tr>
    <tr>
      <td>3-Stufen-Drehschalter, Typ 30049</td>
      <td>Montageanleitung</td>
      <td>Deutsch</td>
      <td>PDF (142 kB)</td>
    </tr>
  </tbody>
</table>

<script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="/src/assets/js/data-table.js"></script>
